- title :settings
.row.two-columns
  .secondary
    = render 'user/settings_menu'
  .primary
    %h3= ta :change_password

    %p= t('.instructions')

    = simple_form_for @user, url: user_password_path do |f|

      .inputs
        = f.input :current_password, required: true, autofocus: true
        = f.input :password, required: true
        = f.input :password_confirmation, required: true

      .actions
        %button= ti(:update)
