= simple_form_for [current_account, current_organization, team], remote: true do |f|
  .inputs.edit-team
    = f.input :name
    = f.input :shortcut
    = f.input :color, :class => 'minicolors'
  .actions
    = f.create_or_update_button
