= simple_form_for [current_account, current_organization, team],
  html: { class: 'form-horizontal' }, remote: true do |f|
  .inputs.edit-team
    = f.input :name
    = f.input :shortcut
    = f.input :color, :class => 'miniColors'
  .actions
    %button.button-success{type: 'submit'}
      %i.icon-ok-circle.icon-white
      = ta create_or_update
