%table#teams
  %thead
    %tr.employee
      - if can? :manage, TeamMerge
        %th.checkbox
          &nbsp;
      %th= Team.human_attribute_name(:name)
      %th= Team.human_attribute_name(:shortcut)
      %th= t('.team_color')
      - if can? :edit, Team
        %th= t('action')

  %tbody
    - records.each do |record|
      %tr{ id: "record_#{record.id}" }
        - if can? :manage, TeamMerge
          %td.checkbox
            %input(type="checkbox"){ id: "team_#{record.id}", 'data-team-id' => "#{record.id}" }
        %td= record.name
        %td= record.shortcut
        %td= render 'teams/pibble', team: record
        - if can? :edit, record
          %td= link_to :edit, [:edit] + nested_resources_for(record),
            remote: true, class: 'button button-small'
