- title resource.name

= simple_form_for [resource.organization.account, resource.organization, resource] do |f|
  = f.input :name
  = f.input :shortcut
  = f.input :color
  = f.button :submit, class: ''
