- title resource.name

= simple_form_for [resource.organization.account, resource.organization, resource] do |f|
  .inputs.edit-team
    = f.input :name
    = f.input :shortcut
    = f.input :color

  .actions
    = f.button :submit, class: ''
