- title :teams

.row
  .span7
    %table#teams.table.table-striped.table-condensed
      %thead
        %tr.employee
          %th= Team.human_attribute_name(:name)
          %th= Team.human_attribute_name(:shortcut)
          %th
          %th

      %tbody
        - collection.each do |team|
          %tr
            %td= can?(:edit, team) ? link_to(team.name, organization_team_path(current_organization, team)) : team.name
            %td= team.shortcut
            %td= render 'pibble', team: team
            %td
              - if can? :edit, team
                = link_to :edit, edit_organization_team_path(current_organization, team), class: 'btn btn-mini'
  .span5.instructions
    = tt '.instructions'
