- title :teams

- masterhead_toolbar do
  - if can? :manage, TeamMerge
    %button{ :id => 'merge-button',
      'data-url' => new_account_organization_team_merge_path(current_account, current_organization) }
      = ta(:merge)
  - if can? :create, Team
    = link_to ta(:add), [:new] + nested_resources_for(current_organization) + [:team],
      class: 'button button-add', remote: true

.primary
  #teams
    - unless collection.empty?
      = render 'table', records: collection
    - else
      %p= t(:'teams.no_teams_present')

#instructions.instructions
  - if can? :create, Team
    = tt '.planner_instructions'
  - else
    = tt '.instructions'
