- title :teams

- if can? :create, Team
  - masterhead_toolbar do
    =link_to ti(:add), '#', class: 'button', remote: true, data: { icon: i(:add) }

%table#teams
  %thead
    %tr.employee
      %th= Team.human_attribute_name(:name)
      %th= Team.human_attribute_name(:shortcut)
      %th= t('.team_color')
      %th= t('.action')

  %tbody
    - collection.each do |team|
      %tr
        %td= can?(:edit, team) ? link_to(team.name, account_organization_team_path(current_account, current_organization, team)) : team.name
        %td= team.shortcut
        %td= render 'pibble', team: team
        %td
          - if can? :edit, team
            = link_to :edit, [:edit] + nested_resources_for(team), class: 'button button-small'

- sidebar do
  .instructions
    = tt '.instructions'
