- title :teams

- masterhead_toolbar do
  - if can? :manage, TeamMerge
    %button{ :id => 'merge-button',
      'data-url' => new_account_organization_team_merge_path(current_account, current_organization) }
      = ti(:merge)
  - if can? :create, Team
    = link_to ti(:add), [:new] + nested_resources_for(current_organization) + [:team],
      class: 'button', remote: true, data: { icon: i(:add) }

.row.two-columns.inverted
  .primary
    #teams#records
      - unless collection.empty?
        = render 'table', records: collection
      - else
        %p= t(:'teams.no_teams_present')

  .secondary.instructions
    - if can? :create, Team
      = tt '.planner_instructions'
    - else
      = tt '.instructions'
