<heading>
<h4>{{chapter.title}}</h4>
</headingp>

{{#if chapter.motivation}}
<p>{{chapter.motivation}}</p>
{{/if}}

{{outlet step}}

<button {{action 'gotoStep' previousStep}}>{{t 'helpers.actions.previous'}}</button>
<button {{action 'gotoStep' nextStep}}>{{t 'helpers.actions.next'}}</button>

<p class="fineprint">{{t 'copy.setup.not_fixed' }}</p>
