<p>
{{chapter.title}}
</p>

<div class="inputs">
  <div class="input required">
    <label class="required" for="employee_first_name">{{t 'activerecord.attributes.employee.first_name'}}</label>
    {{input valueBinding="employee_first_name" id="employee_first_name"}}
  </div>
  <div class="input required">
    <label class="required" for="employee_last_name">{{t 'activerecord.attributes.employee.last_name'}}</label>
    {{input valueBinding="employee_last_name" id="employee_last_name"}}
  </div>
</div>
