- title :confirm_email_change

%p= t('.instructions', email: @user.email)

- @user.confirming_email_change = true
= simple_form_for @user, :url => confirm_email_change_path(:token => @email_change.token), :html => { :method => :put } do |f|
  = f.input :confirming_email_change, as: :hidden
  = f.uncompleted_password :current_password, required: true, autofocus: true

  = f.responsive_submit_button :confirm
