.row.two-columns.inverted.dashboard
  .primary
    .module.list.notifications
      %header
        %h2
          = t(:notifications)
          %span.count 28

          %a.side-link
            See all

      .content
        %ul
          %li{ data: { :icon => "&#xf075;".html_safe }}
            = image_tag 'https://secure.gravatar.com/avatar/805ea7f363eeb009288b7f285258f565.png?d=mm&r=PG&s=27', :class => 'avatar'
            %strong
              John Smith
            has commented on your scheduling in
            %a
              Account 1 - Organization 3
          %li{ data: { :icon => "&#xf017;".html_safe }}
            = image_tag 'https://secure.gravatar.com/avatar/805ea7f363eeb009288b7f285258f565.png?d=mm&r=PG&s=27', :class => 'avatar'
            %strong
              John Smith
            assigned you to
            %a
              9-17 Work Work [WW]
            in
            %a
              Account 1 - Organization 3
          %li{ data: { :icon => "&#xf003;".html_safe }}
            = image_tag 'https://secure.gravatar.com/avatar/805ea7f363eeb009288b7f285258f565.png?d=mm&r=PG&s=27', :class => 'avatar'
            %strong
              John Smith
            has invited you to join
            %a
              Account 3 - Organization 2
          %li{ data: { :icon => "&#xf06a;".html_safe }}
            = image_tag 'https://secure.gravatar.com/avatar/805ea7f363eeb009288b7f285258f565.png?d=mm&r=PG&s=27', :class => 'avatar'
            %strong
              John Smith
            rescheduled your shift
            %a
              9-17 Work Work [WW]
            in
            %a
              Account 2 - Organization 3
    
    .module.schedulings
      %header 
        %h2 
          = t(:upcoming_schedulings)
          %span.count 17

          %a.side-link
            See all

      .content
        %table.agenda
          %tr
            %th.date
              %span.day
                20
              %span.day-name
                Wed
              %span.month-year
                Oct 2012
            %td
              %strong
                9 - 17

              Team Name [TN]

          %tr
            %th.date
              %span.day
                26
              %span.day-name
                Wed
              %span.month-year
                Oct 2012
            %td
              %strong
                9 - 17

              Team Name [TN]              

          %tr
            %th.date
              %span.day
                29
              %span.day-name
                Wed
              %span.month-year
                Oct 2012
            %td
              %strong
                9 - 17

              Other Team Name [OTN]

  .secondary
    .module.list.news
      %header
        %h2
          = t(:'blogs.company_news')

          %a.side-link
            See all

      .content
        %ul
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post
          %li
            %a{ :href => "#" }
              %strong
                Account 1 - Organization 2
              News post



