- title :set_your_password

- @invitation.accepted_at = Time.now
= simple_form_for @invitation, :url => confirm_invitation_path(:token => @invitation.token), :html => { :method => :put } do |f|
  = f.input :accepted_at, as: :hidden

  - @invitation.user.skip_confirmation!
  = f.simple_fields_for :user do |user_form|
    .inputs
      = user_form.input :confirmed_at, as: :hidden
      = user_form.input :email, as: :hidden
      = user_form.input :password
      = user_form.input :password_confirmation

    .actions
      %button= ti(:set_password)
