%p= "Hallo #{@employee.name}!"

%p= "#{@post.author.name} hat am #{l(@post.published_at, format: :tiny)} einen neuen Blogpost geschrieben:"

%p= '"' + @post.body + '"'

%p Klicken Sie auf den folgenden Link um den Blogpost zu lesen oder zu kommentieren:

%p= link_to "Blogpost lesen >>", organization_blog_post_url(@post.organization, @post.blog, @post)

%p Ihr Shiftplan Team
