%p= "Hello #{@notification.employee.name}!"

%p= @notification.introductory_text

%p= '"' + @notification.comment.body + '"'

%p Please, click on the following link, to read the comment:

%p= link_to "Read comment >>", account_organization_blog_post_url(@post.organization.account, @post.organization, @post.blog, @post) + '#comments'

%p Your Clockwork Team

= render 'clockwork_mailer/turn_off_notification_emails_hint'
