- title :settings
.row.two-columns
  .secondary
    = render 'user/settings_menu'
  .primary
    %h3= ta :change_email

    %p= t('.instructions')

    = simple_form_for @user, url: user_email_path do |f|

      .inputs
        = f.input :email, input_html: { class: 'mailcheck' }, required: true, autofocus: true
        = f.input :current_password, required: true

      .actions
        %button= ti(:update)
