- title :settings

.row.two-columns

  %nav.secondary
    = render 'user/settings_menu'

  .primary.content-form
    %h3= ta :change_email

    %p= t('.instructions')

    = simple_form_for @user, url: change_email_path do |f|

      .inputs
        = f.input :email, input_html: { class: 'mailcheck',
          data: { :'mailcheck-hint' => t('hint.did_you_mean') } },
          required: true, autofocus: true
        = f.input :current_password, required: true

      .actions
        = f.update_button
