.module.milestones
  %header
    %h2= Milestone.model_name.human count: 9001
  .content
    - unless milestones.blank?
      - milestones.group_by(&:plan).each do |plan, mss|
        %h4.icon-plans
          = link_to nested_resources_for(plan) do
            = plan.organization.name
            = ' / '
            = plan.name
        %ul.milestones
          - mss.each do |ms|
            %li.milestone
              = render 'doables/details', doable: ms, url: nested_resources_for(ms)
              - unless ms.tasks.todo.empty?
                %ul.tasks
                  - ms.tasks.todo.each do |t|
                    %li.task= render 'doables/details', doable: t, url: nested_resources_for(t)
    - else
      %p= t('.none')
