%table#employees
  %thead
    %tr.employee
      %th= ta(:want_to_adopt)
      %th= t('activerecord.attributes.employee.full_name')
      %th.numeric= abbr_tag(t('helpers.actions.wwt_short'), t('helpers.actions.wwt_long'))
      %th= t('activerecord.attributes.employee.email')
      %th= t('activerecord.attributes.employee.role')
      %th= t('employees.table.status')
      %th= Organization.model_name.human(count: 9001)

  %tbody
    - employees.each do |employee|
      %tr{ id: "employee_#{employee.id}" }
        %td.checkbox
          - if employee.organizations.include?(current_organization)
            = t('employees.new.already_member')
          - else
            = check_box_tag 'employees[]', employee.id, false, id: "employee_#{employee.id}"
        %th
          = avatar(employee.user, employee, :tiny)
          = employee.last_and_first_name
        %td.waz.numeric= number_with_precision(employee.weekly_working_time, :precision => 2, :strip_insignificant_zeros => true)
        %td= employee.try(:user).try(:email) || employee.try(:invitation).try(:email)
        %td= t("employees.roles.#{employee.role.present? ? employee.role : 'none' }")
        %td.status= invitation_status(employee)
        - organizations = employee.organizations.order(:name)
        %td
          - if organizations.present?
            - organizations.each do |org|
              %div= org.name
          - else
            = t('none')
