= simple_form_for(employee) do |f|
  = f.error_notification

  .inputs
    = f.input :first_name, autofocus: true
    = f.input :last_name
    = f.input :weekly_working_time, :input_html => { :step => 0.1, :min => 0, :placeholder => 38.5 }

  .actions
    %button.btn.btn-primary= ti(:update)
