- if employee.new_record?
  - employee.weekly_working_time = 40


= simple_form_for([current_account, current_organization, employee], remote: employee.persisted? == true,
  html: { class: 'edit_employee' }) do |f|

  = employee.error_messages

  - employee.organization_id = current_organization.id
  - employee.account = current_account

  .inputs

    .avatar_and_name
      = f.label :avatar
      = avatar(employee.user, employee, :thumb)
      = f.input :avatar, as: :file, :label => false
      = f.input :avatar_cache, as: :hidden

    = f.input :first_name, autofocus: true
    = f.input :last_name

    = f.input :weekly_working_time, input_html: { step: 1, min: 0 }

    - if can?(:update_role, employee)
      = f.input :membership_role, include_blank: false,
        collection: [[t('employees.roles.none'), nil], [t('employees.roles.planner'), 'planner']]

    = f.input :organization_id, as: :hidden
    = f.input :account_id, as: :hidden

    - if f.object.sufficient_details_to_search_duplicates? and employee.duplicates.present?
      %p= t('employees.new.duplicates_found')
      %p= t('employees.new.duplication_warning')
      = f.input :force_duplicate, as: :boolean, label: Employee.human_attribute_name( f.object.new_record?? :force_create_duplicate : :force_update_duplicate)

  .actions
    - if employee.new_record?
      = f.create_button
    - else
      = f.update_button
