<%= f.error_messages %>

<div>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>
<div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div>
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.submit 'Save' %>
</div>
