- if employee.new_record?
  - employee.weekly_working_time = 40

= simple_form_for([current_account, current_organization, employee], remote: params[:action] == 'edit',
  html: { class: 'form-horizontal edit_employee' }) do |f|

  - employee.organization_id = current_organization.id
  - employee.account_id = current_account.id
  .inputs

    .avatar_and_name
      = f.label :avatar
      = avatar(employee.user, employee, :thumb)
      = f.input :avatar, as: :file, :label => false
      = f.input :avatar_cache, as: :hidden

    = f.input :first_name, autofocus: true
    = f.input :last_name

    = f.input :weekly_working_time, input_html: { step: 1, min: 0 }
    = f.input :organization_id, as: :hidden
    = f.input :account_id, as: :hidden

    - unless employee.duplicates.empty?
      = render('duplication_warning', duplicate_employees: employee.duplicates)
      = f.input :force_create_duplicate, as: :boolean

  .actions
    %button.button-success= ti(:update)
