%p= t('employees.search.hint')

= form_tag([:search, current_account, current_organization, :employees], { id: 'search', class: 'form-horizontal' }) do |f|
  .inputs
    = text_field_tag 'first_name', nil, :placeholder => 'Vornamen eingeben'
    = text_field_tag 'last_name', nil, :placeholder => 'Nachnamen eingeben'

%a#clear-search{href: '#'}= t('employees.search.clear')

%p#search-results
