%table#employees
  %thead
    %tr.employee
      %th= Employee.human_attribute_name(:full_name)
      %th= Employee.human_attribute_name(:shortcut)
      %th.numeric= abbr_tag(ta(:wwt_short), ta(:wwt_long))
      %th= Employee.human_attribute_name(:email)
      %th= Employee.human_attribute_name(:planable)
      %th= Employee.human_attribute_name(:role)
      %th= t('.status')
      %th= Organization.model_name.human(count: 9001)
      %th= Employee.human_attribute_name(:qualifications)
      - if can?(:manage, Invitation)
        %th= t('.action')

  %tbody
    - records.each do |record|
      %tr{ id: "record_#{record.id}" }
        %th
          - if can?(:update, record)
            = link_to(avatar(record.user, record, :tiny),
              [:edit, current_account, current_organization, record],
              remote: true)
            = link_to(record.last_and_first_name,
              [:edit, current_account, current_organization, record],
              remote: true, :class => 'name')
          - else
            = avatar(record.user, record, :tiny)
            = record.last_and_first_name
        %td= record.shortcut
        %td.waz.numeric= number_with_precision(record.weekly_working_time,
          :precision => 2, :strip_insignificant_zeros => true)
        %td= record.try(:user).try(:email) || record.try(:invitation).try(:email)
        - record.organization_id = current_organization.id
        %td= yes_or_no_tag record.planable?
        %td= record.decorate.translated_role
        %td.status= invitation_status(record)
        - organizations = record.organizations.order(:name)
        %td
          - if organizations.present?
            - organizations.each do |org|
              %div= org.name
          - else
            = t('none')
        - qualifications = record.qualifications
        %td
          - if qualifications.present?
            - qualifications.each do |quali|
              %div= quali.name
          - else
            = t('none')
        - if can?(:manage, Invitation)
          %td.action= invitation_status_link(record)
