%table#employees
  %thead
    %tr.employee
      %th= t('activerecord.attributes.employee.full_name')
      %th.numeric= abbr_tag(t('helpers.actions.wwt_short'), t('helpers.actions.wwt_long'))
      %th= t('activerecord.attributes.employee.email')
      %th= t('activerecord.attributes.employee.role')
      %th= t('.status')
      %th= Organization.model_name.human(count: 9001)
      - if can?(:manage, Invitation)
        %th= t('.action')

  %tbody
    - records.each do |record|
      %tr{ id: "record_#{record.id}" }
        %th
          - if can?(:update, record)
            = link_to(avatar(record.user, record, :tiny),
              [:edit, current_account, current_organization, record],
              remote: true)
            = link_to(record.last_and_first_name,
              [:edit, current_account, current_organization, record],
              remote: true, :class => 'name')
          - else
            = avatar(record.user, record, :tiny)
            = record.last_and_first_name
        %td.waz.numeric= number_with_precision(record.weekly_working_time,
          :precision => 2, :strip_insignificant_zeros => true)
        %td= record.try(:user).try(:email) || record.try(:invitation).try(:email)
        %td= t("employees.roles.#{record.role.present? ? record.role : 'none' }")
        %td.status= invitation_status(record)
        - organizations = record.organizations
        %td
          - if organizations.present?
            - organizations.order(:name).each do |org|
              %div= org.name
          - else
            = t('none')
        - if can?(:manage, Invitation)
          %td.action= invitation_status_link(record)
