%table#employees
  %thead
    %tr.employee
      %th= t('activerecord.attributes.employee.full_name')
      %th.numeric= abbr_tag(t('helpers.actions.wwt_short'), t('helpers.actions.wwt_long'))
      %th= t('activerecord.attributes.employee.email')
      %th= t('.status')
      - if can?(:manage, Invitation)
        %th= t('.action')

  %tbody
    - employees.each do |employee|
      %tr{ id: "employee_#{employee.id}" }
        %th
          -# We reuse employee abilities on the profile pages. So the current employee should
          -# be allowed to edit his own name on the profile page, but on the employees page
          -# where fields like WAZ can be edited, too, a normal employee not beeing a planner
          -# nor owner should not be able to edit himself/herself.
          - if can?(:update, employee) && (current_employee.planner? || current_employee.owner?)
            = link_to(avatar(employee.user, employee, :tiny), [:edit, current_account, current_organization, employee], remote: true)
            = link_to(employee.last_and_first_name, [:edit, current_account, current_organization, employee], remote: true, :class => 'name')
          - else
            = avatar(employee.user, employee, :tiny)
            = employee.last_and_first_name
        %td.waz.numeric= number_with_precision(employee.weekly_working_time, :precision => 2, :strip_insignificant_zeros => true)
        %td= employee.try(:user).try(:email) || employee.try(:invitation).try(:email)
        %td.status= invitation_status(employee)
        - if can?(:manage, Invitation)
          %td.action= invitation_status_link(employee)
