%h1= t('.edit_employee')

= render 'form', employee: @employee

%p
  =link_to :back, employees_path

%p= invitation_status(resource)

-if resource.invited? && !resource.invitation_accepted?
  = link_to :reinvite, new_user_invitation_path( user: { employee_id: resource.id } )
-else
  = link_to :invite, new_user_invitation_path( user: { employee_id: resource.id } )
