<h1>Listing employees</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @employees.each do |employee| %>
  <tr class="employee">
    <td><%=h employee.full_name %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Delete', employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a new employee', new_employee_path %>