%h1= t('.employees')

%table#employees.table.table-striped.table-bordered.table-condensed
  %thead
    %tr.employee
      %th= t('.full_name')
      %th= t('.weekly_working_time')
      %th
      %th
 
  %tbody
    - collection.each do |employee|
      %tr
        %td= link_to employee.name, edit_employee_path(employee)
        %td= number_with_precision(employee.weekly_working_time, :precision => 2, :strip_insignificant_zeros => true)
        %td= link_to :edit, edit_employee_path(employee)
        %td= link_to :destroy, employee, :confirm => 'Are you sure?', :method => :delete

%br

= link_to :new_employee, new_employee_path
