<ul id="employees">
  <li id="new_employee" class="employee clickable">
    <%= image_tag(Employee.new.gravatar_url(:size => 60)) %>
    <h2><%= link_to '[Click to add]', new_employee_path, :class => 'dialog clickable_link', :title => 'New employee' %></h2>
    <p class="tags">Click here to add a new employee</p>
    <div class="actions"></div>
  </li>
  <% for employee in @employees -%>
    <% content_tag_for(:li, employee, :class => 'clickable') do -%>
      <%= image_tag(employee.gravatar_url(:size => 60)) %>
    	<h2><%= employee.full_name %></h2>
    	<p class="tags"><%= employee.qualification_list %></p>
			<div class="actions">
  			<%= link_to(t(:edit), edit_employee_path(employee), :class => 'edit dialog clickable_link', :title => "Employee #{employee.full_name}") %><%= link_to(t(:destroy), employee_path(employee), :class => 'delete', :method => :delete) %>
  		</div>
    <% end -%>
  <% end -%>
</ul>