<ul id="list" class="employees">
  <li id="new_employee" class="employee resource" data-form-values="<%= Employee.new.form_values_json %>">
    <%= image_tag(Employee.new.gravatar_url(:size => 60)) %>
    <h2><%= t(:new) %></h2>
    <p class="qualifications"><%= t(:add_employee) %></p>
    <div class="actions"></div>
  </li>
  <%= render :partial => 'employee', :collection => @employees %>
</ul>

<%= render :partial => 'sidebar' %>
