%table#employees.table.table-striped.table-bordered.table-condensed
  %thead
    %tr.employee
      %th= t('activerecord.attributes.employee.full_name')
      %th Organisation
      %th Aktion

  %tbody
    - @employees.each do |employee|
      %tr{ id: "employee_#{employee.id}" }
        %th
          = avatar(employee.user, employee, :tiny)
          = employee.name
        %td.organization= employee.organization.name
        %td.action= link_to :edit, [:edit, employee.organization, employee]
