= simple_form_for resource,
  url: nested_resources_for(resource.plan) + [:copy_week] do |f|
  .inputs
    = f.input :source,
      collection: resource.previous_weeks_for_select,
      include_blank: false
    = f.hidden_field :target_year
    = f.hidden_field :target_week
  .actions
    = f.responsive_submit_button :copy
