= simple_form_for copy_week, url: [current_account, current_organization, copy_week.plan, :copy_week] do |f|
  .inputs
    = f.input :source, collection: copy_week.previous_weeks_for_select, include_blank: false
    = f.hidden_field :target_year
    = f.hidden_field :target_week
  .actions
    = f.responsive_submit_button :copy
