<%= f.error_messages %>

<p>
  <%= f.label :employee_id %>
  <%= f.collection_select :employee_id, Employee.all, :id, :full_name, :include_blank => true %>
</p>
<p>
  <%= f.label :workplace_id %>
  <%= f.collection_select :workplace_id, Workplace.all, :id, :name, :include_blank => true %>
</p>
<p>
  <%= f.label :start %>
  <%= f.datetime_select :start %>
</p>
<p>
  <%= f.label :end %>
  <%= f.datetime_select :end %>
</p>