<h1>Einsätze</h1>

<table>
  <tr>
    <th>Mitarbeiter</th>
    <th>Arbeitsplatz</th>
    <th>Beginn</th>
    <th>Ende</th>
  </tr>

<% @allocations.each do |allocation| %>
  <tr>
    <td><%=h allocation.employee.full_name %></td>
    <td><%=h allocation.workplace.name %></td>
    <td><%= l(allocation.start, :format => :short) %></td>
    <td><%= l(allocation.end, :format => :short) %></td>
    <td><%= link_to 'Details', allocation %></td>
    <td><%= link_to 'Bearbeiten', edit_allocation_path(allocation) %></td>
    <td><%= link_to 'Löschen', allocation, :confirm => 'Wirklich löschen?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuer Einsatz', new_allocation_path %>