<p>
  <b>Employee:</b>
  <%=h @allocation.employee.full_name %>
</p>

<p>
  <b>Workplace:</b>
  <%=h @allocation.workplace.name %>
</p>

<p>
  <b>Start:</b>
  <%= l(@allocation.start) %>
</p>

<p>
  <b>End:</b>
  <%= l(@allocation.end) %>
</p>


<%= link_to 'Edit', edit_allocation_path(@allocation) %> |
<%= link_to 'Back', allocations_path %>