<p>
  <b>Mitarbeiter:</b>
  <%=h @allocation.employee.full_name %>
</p>

<p>
  <b>Arbeitsplatz:</b>
  <%=h @allocation.workplace.name %>
</p>

<p>
  <b>Beginn:</b>
  <%= l(@allocation.start) %>
</p>

<p>
  <b>Ende:</b>
  <%= l(@allocation.end) %>
</p>


<%= link_to 'Bearbeiten', edit_allocation_path(@allocation) %> |
<%= link_to 'Zurück', allocations_path %>