- comment ||= item
- avatar_size ||= :tiny
%li.comment{id: dom_id(comment)}
  - if comment.commentable.is_a?(Scheduling)
    = link_to ti(:reply), '#' + dom_id(comment), class: 'button button-small', 'data-icon' => '&#xf053;'.html_safe
  - if comment.commentable.is_a?(Post) && can?(:destroy, comment)
    = button_to('&#xf00d;'.html_safe, [comment.commentable.blog.organization, comment.commentable.blog, comment.commentable, comment], |
      method: :delete, remote: true, class: 'utility-button icon-button button-warning', id: 'destroy-post')
  = avatar(comment.employee.user, comment.employee, avatar_size, "author")
  - if comment.employee == current_user.current_employee
    .meta= t(:'blogs.own_meta_data', published_at: l(comment.created_at, format: :tiny))
  - else
    .meta= t(:'blogs.meta_data', author: comment.employee.name, published_at: l(comment.created_at, format: :tiny))
  %p= comment.body
  - if comment.has_children?
    %ul.replies= render partial: 'comments/item', collection: comment.children
