- comment ||= Comment.new
= simple_form_for comment, url: url, remote: true, html: { class: 'new_comment form-inline', id: nil} do |f|
  = f.hidden_field :parent_id
  = avatar(current_user, current_user.current_employee, :thumb, :author)
  = f.input :body, input_html: { rows: 1 }
  %button.button-success.button-ok{type: 'submit'}= ti(:comment)
