<% form_for([employee, status]) do |f| %>
  <div>
    <%= f.label :day %>
    <%= f.date_select :day, :start_year => Time.current.year %>
  </div>
  <div>
    <%= f.label :start_time %>
    <%= f.time_select :start_time, :minute_step => 5 %>
  </div>
  <div>
    <%= f.label :end_time %>
    <%= f.time_select :end_time, :minute_step => 5 %>
  </div>
  <div>
    <% Status::VALID_STATUSES.each do |status| -%>
      <%= f.radio_button :status, status %>
      <%= f.label "status_#{status.underscore}", t(:"statuses.#{status.underscore}", :scope => [:activerecord, :attributes, :status], :default => status) %>
    <% end -%>
  </div>
  <div>
    <%= f.submit 'Save' %>
  </div>
<% end %>