<table class="calendar week">
  <tbody>
    <% @employees.each do |employee| -%>
      <tr>
        <th scope="row"><%= employee.full_name %></th>
        <% @days.each do |day| -%>
          <% content_tag(:td, :id => "#{dom_id(employee)}_#{day.to_s(:number)}") do %>
            <%= render :partial => 'day', :locals => {
                :day => day,
                :employee => employee,
                :statuses => statuses_for(day, employee.statuses.override.all)
              }
            %>
          <% end %>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
  <thead>
    <tr class="weeks">
      <th></th>
      <th class="previous"><%= link_to_previous_week(@year, @week) %></th>
      <th colspan="5" class="current"><%= current_week(@year, @week) %></th>
      <th class="next"><%= link_to_next_week(@year, @week) %></th>
    </tr>
    <tr class="days">
      <th></th>
      <% @days.each do |day| -%>
        <th><%= l(day, :format => :short_with_day_name) %></th>
      <% end -%>
    </tr>
  </thead>
</table>
