<% if @employee -%>
  <%= render :partial => 'employee' %>
<% else -%>
  <% if @week -%>
    <h1><%= t(:statuses, :scope => :navigation) %></h1>
    <%= render :partial => 'week' %>

    <%= render :partial => 'sidebar' %>
  <% else -%>
    <h1><%= t(:statuses, :scope => :navigation) %></h1>

    <%= link_to t(:click_here_to_manage_availabilities_by_week),
                employees_week_statuses_path(:year => Date.current.year, :week => Date.current.cweek) %>

    <table>
      <tbody>
        <% @employees.each do |employee| -%>
          <%= status_month_list_for(employee) %>
        <% end -%>
      </tbody>
    </table>
  <% end -%>
<% end -%>
