<div class="inputs">
  <div class="input required">
    <label for="organization_name">{{t 'activerecord.attributes.setup.organization_name'}}</label>
    {{input valueBinding="organizationName" id="organization_name"}}
  </div>
  <p>{{t 'copy.setup.team_names' }}</p>
  <div class="input required">
    <label for="team_names">{{t 'activerecord.attributes.setup.team_names'}}</label>
    {{input valueBinding="teamNames" id="team_names"}}
  </div>
</div>

