%table#qualifications
  %thead
    %tr
      %th= Qualification.human_attribute_name(:name)
      - if can? :edit, Qualification
        %th= t('action')

  %tbody
    - records.each do |record|
      %tr{ id: "record_#{record.id}" }
        %td= record.name
        - if can? :edit, Qualification
          %td= link_to :edit,
            [:edit, current_account, current_organization, record],
            remote: true, class: 'button button-small'
