- title :qualifications

- masterhead_toolbar do
  - if can? :create, Qualification
    = link_to ta(:add),
      [:new, current_account, current_organization, :qualification],
      class: 'button button-add'

.row.two-columns.inverted
  .primary
    - unless collection.empty?
      = render 'table', qualifications: collection
    - else
      %p= t(:'qualifications.no_qualifications_present')

  .secondary.instructions
    - if can? :create, Qualification
      = tt '.planner_instructions'
    - else
      = tt '.instructions'
