<h1>Editing requirement</h1>

<% form_for(@requirement) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :workplace_id %><br />
    <%= f.text_field :workplace_id %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @requirement %> |
<%= link_to 'Back', requirements_path %>