<p>
  <b>Workplace:</b>
  <%=h @requirement.workplace_id %>
</p>

<p>
  <b>Start:</b>
  <%=h @requirement.start %>
</p>

<p>
  <b>End:</b>
  <%=h @requirement.end %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @requirement.quantity %>
</p>


<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>