{{#if hasErrors}}
<div class="flash error"><a class="close" data-dismiss="flash">×</a>{{errorMessages}}</div>
{{/if}}

{{yield}}

{{#if view.canManage}}
  <div class="actions">
  {{#unless isNew}}
      <button class="button-warning delete" {{action "doDelete" view.backRoute}}>Löschen</button>
  {{/unless}}
  <button class="button-success" {{action "save" view.backRoute}}>{{view.buttonLabel}}</button>
  </div>
{{/if}}
