<div class="inputs">
  <div class="weekday-and-time">
    <div class="input start-time">
      <label for="una_start_time">Beginn</label>
      {{view Clockwork.Fields.TimeField elementId="una_start_time" valueBinding="startTime" placeholder="Beginn"}}
    </div>
    <div class="input end-time">
      <label for="una_end_time">Ende</label>
      {{view Clockwork.Fields.TimeField elementId="una_end_time" valueBinding="endTime" placeholder="Ende"}}
    </div>
  </div>

  <div class="input">
    <label for="una_reason">{{t 'activerecord.attributes.unavailability.reason'}}</label>
    {{view Clockwork.Fields.SelectReason elementId="una_reason" value=reason}}
  </div>

  <div class="input">
    <label for="una_description">{{t 'activerecord.attributes.unavailability.description'}}</label>
    {{view Ember.TextArea elementId="una_description" value=description}}
  </div>

  {{#if multipleAccounts}}
    <div class="input">
      <label>
        {{input type="checkbox" checked=allAccounts}}
        {{t 'activerecord.attributes.unavailability.all_accounts'}}
      </label>

      {{#unless allAccounts}}
        {{checkbox-select model=this elements=availableAccounts propertyPath="accounts" labelPath="name"}}

        <p>{{#each a in content.accounts}}{{a.name}}{{/each}}</p>
      {{/unless}}
    </div>
  {{/if}}
</div>
