.module.list.notifications
  %header
    %h2
      = t('notifications.caption')
      %span.count= notifications.count

      -# TODO ticket #505710
      %a.side-link{style: 'display: none'} See all
  .content
    - unless notifications.empty?
      %ul
        - notifications.for_dashboard.each do |notification|
          %li{class: notification.read_at ? 'read' : 'unread' }
            = avatar notification.acting_employee.user, notification.acting_employee, :thumb
            = render 'notifications/subject_and_blurb', notification: notification
    - else
      %p= t('notifications.no_notifications_present')

