- title :settings
.row.two-columns
  %nav.secondary
    = render 'user/settings_menu'
  .primary.content-form.user-edit-form
    %h3= ta :profile

    = simple_form_for @employee, url: profile_employee_path(@employee) do |f|
      = f.error_notification

      .inputs
        .avatar_and_name
          = f.label :avatar
          = avatar(@employee.user, @employee, :thumb, :author)
          = f.input :avatar, as: :file, :label => false
          = f.input :avatar_cache, as: :hidden

        = f.input :first_name, autofocus: true
        = f.input :last_name

      .actions
        %button= ti(:update)

    - if current_user.is_multiple?
      = link_to :back, profile_employees_path
