- title :settings
.row
  .span3
    = render 'user/settings_menu'
  .span7.user-edit-form
    %h3= ta :profile

    = simple_form_for @employee, url: profile_employee_path(@employee) do |f|
      = f.error_notification

      .inputs
        = avatar(@employee.user, @employee, :thumb)
        = f.input :avatar, as: :file
        = f.input :avatar_cache, as: :hidden
        = f.input :first_name, autofocus: true
        = f.input :last_name

      .actions
        %button= ti(:update)

    - if current_user.has_multiple_employees?
      = link_to :back, profile_employees_path
