- title :settings
.row.two-columns
  %nav.secondary
    = render 'user/settings_menu'
  .primary.content-form.user-edit-form
    %h3= ta :profile

    = simple_form_for @employee, url: profile_employee_path(@employee) do |f|
      = f.error_notification

      // TODO: Add t() thingie.
      %legend= t('.your_photo')

      .inputs 
        = avatar(@employee.user, @employee, :thumb)
        = f.input :avatar, as: :file, :label => false
        = f.input :avatar_cache, as: :hidden

      // TODO: Add t() thingie.
      %legend= t('.your_profile')

      .inputs
        = f.input :first_name, autofocus: true
        = f.input :last_name

      .actions
        %button= ti(:update)

    - if current_user.has_multiple_employees?
      = link_to :back, profile_employees_path
