- title :profile

= simple_form_for @employee, url: profile_employee_path(@employee) do |f|
  = f.error_notification

  .inputs
    = avatar(@employee.user, @employee, :tiny)
    = f.input :avatar, as: :file
    = f.input :avatar_cache, as: :hidden
    = f.input :first_name, autofocus: true
    = f.input :last_name

  .actions
    %button.btn.btn-primary= ti(:update)
