%p= "Hallo #{@invitation.employee.name}!"

%p= "#{@invitation.inviter.name} hat Sie zu #{root_url} eingeladen. Sie können die Einladung bestätigen, indem Sie auf den folgenden Link klicken."

%p= link_to 'Einladung akzeptieren', accept_organization_invitation_url(@invitation.organization, @invitation, :token => @invitation.token)

- unless @invitation.user.confirmed? && @invitation.user.encrypted_password.present?
  %p Falls Sie die Einladung nicht bestätigen wollen, ignorieren Sie diese E-Mail bitte. Ihr Account wird nicht angelegt, solange Sie nicht auf den 'Einladung akzeptieren' Link geklickt und Ihr Passwort gesetzt haben.

%p Ihr Shiftplan Team