%p= "Hello #{@invitation.employee.name}!"

%p= "#{@invitation.inviter.name} invited you to #{root_url}. You can confirm the invitation by following the link below."

%p= link_to 'Accept invitation', accept_invitation_url(token: @invitation.token)

- user = User.find_by_email(@invitation.email)
- unless user.present? && user.confirmed?
  %p In case you do not want to confirm this invitation, please ignore this E-Mail. Your account will not be created until you have clicked the 'Accept invitation' link and set your password.

%p Your Clockwork Team
