%p= "Hello #{@invitation.inviter.name}!"

%p= "#{@invitation.employee.name} <#{@invitation.employee.email}> has accepted your invitation issued on #{l @invitation.created_at}."

%p Ihr Clockwork Team

