!!!5
%html{lang: I18n.locale}
  %head
    %meta{'charset' => 'utf-8'}
    %title Clockwork
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico'
    = stylesheet_link_tag 'application'

  %body
    = render 'layouts/top'
    = render 'where_and_who_am_i'
    = include_ember_script_tags :frontend
