- title :dashboard

.accounts
  %h3= t(:'.accounts')
  %ul#accounts
    - current_user.accounts.each do |account|
      %li
        %h4= account.name
        %ul#organizations
          - current_user.organizations_for(account).each do |organization|
            %li
              %h5= link_to organization.name, [account, organization]
              = render 'plans/list', plans: organization.plans
              - if organization.company_blog.present?
                = render('posts/posts', posts: organization.company_blog.posts.order('published_at desc').limit(2))
  - if can? :create, Organization.new(account: current_account)
    = link_to ti(:new_organization), new_account_organization_path(current_account), class: 'btn'


