= simple_nested_form_for shift, url: nested_resources_for(shift.plan_template) + [:shifts],
  remote: true, html: { class: 'form-horizontal' } do |f|
  .inputs
    = f.input :start_hour, collection: 0..23, :include_blank => false
    = f.input :end_hour,   collection: 0..23, :include_blank => false
    = f.input :day,        collection: days_for_select, :include_blank => false
    = f.association :team, collection: shift.plan_template.organization.teams, include_blank: false

    %h4= ta(:demands)

    = f.fields_for :demands do |df|
      = df.input :quantity
      = df.association :qualification, collection: shift.plan_template.organization.qualifications

  %p= f.link_to_add t('.add_demand'), :demands, class: 'button', data: { icon: i(:add) }

  .actions
    = f.create_button data: { icon: i(:check) }
