- title @plan_template.name

- masterhead_toolbar do
  - if can? :create, Shift
    = link_to ta(:add), [:new] + nested_resources_for(@plan_template) + [:shift],
      class: 'button', data: { icon: i(:add) }, remote: true

.row.two-columns.inverted
  .primary
    - if filter.teams.present?
      %table#calendar.calendar.teams-in-week.shifts{class: :week, data: filter.table_metadata}
        %thead
          %tr
            -# TODO: use the week switch like for schedulings later
            %th= t('schedulings.week_switch.teams_in_week')
            - filter.formatted_days.each do |full, abbr|
              %th
                = abbr_tag(abbr, full, class: 'day_name')
        %tbody{ class: editable_class }
          - filter.teams.each do |team|
            %tr{data: { :'team-id' => team.id }}
              %th.team
                .pibble.team-color{style: "background-color: #{team.color};"}
                .team_name
                  = team.name + '(' + team.shortcut + ')'
              - filter.days.each_with_index do |day, number_of_day|
                = filter.render_cell_for_day number_of_day, team
    - else
      %p= t('teams.no_teams_present')
      %p= t('.teams_required_for_templates')
      %p= t('teams.goto_teams')
      = link_to ta(:teams), nested_resources_for(current_organization) + [:teams],
        class: 'button'

  .secondary.instructions
    - if can? :create, PlanTemplate
      = tt '.planner_instructions'
    - else
      = tt '.instructions'
