%h2= t('.set_your_password')

= simple_form_for @invitation, :url => organization_accept_invitation_path(@invitation.organization), :html => { :method => :put } do |f|
  = devise_error_messages!
  = f.input :token, as: :hidden

  - @invitation.user.skip_confirmation!
  = f.simple_fields_for :user do |user_form|
    = user_form.input :confirmed_at, as: :hidden
    = user_form.input :email, as: :hidden
    = user_form.input :password
    = user_form.input :password_confirmation

  %button.btn.btn-primary= ti(:set_password)
