%h2= t('.set_password')

= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
  = devise_error_messages!

  .inputs
  = f.input :invitation_token, :as => :hidden
  = f.input :password
  = f.input :password_confirmation

  .actions
  = f.button :submit, t('.set_password')
