<% content_tag_for(:li, workplace, :class => "clickable #{workplace.state}") do -%>
  <div class="color" style="background-color:<%= workplace.color %>"></div>
	<h2><%= workplace.name %></h2>
	<p class="qualifications" title="<%= requirement_list(workplace, :truncate => false) %>"><%= requirement_list(workplace) %>&nbsp;</p>
	<div class="actions">
	  <%= link_to(t(:edit), edit_workplace_path(workplace), :class => 'edit dialog clickable_link', :title => "Workplace #{workplace.name}") %><%= link_to(t(:destroy), workplace_path(workplace), :class => 'delete', :method => :delete) %>
	</div>
<% end -%>