<% content_tag_for(:li, workplace, :class => "#{workplace.state} resource", :'data-form-values' => workplace.form_values_json) do -%>
  <div class="color" style="background-color:<%= workplace.color %>"></div>
	<h2><%= workplace.name %></h2>
	<p class="qualifications" title="<%= requirement_list(workplace, :truncate => false) %>"><%= requirement_list(workplace) %>&nbsp;</p>
	<div class="actions">
	  <%= link_to(t(:edit), edit_workplace_path(workplace), :class => 'edit', :title => t(:edit_workplace, :name => workplace.name)) %><%= link_to(t(:destroy), workplace_path(workplace), :class => 'delete', :method => :delete) %>
	</div>
<% end -%>