{{#if milestone}}
<h4 class="milestone_name">{{milestone.name}}</h4>
{{/if}}
{{#if hasErrors}}
<div class="flash error"><a class="close" data-dismiss="flash">×</a>{{errorMessages}}</div>
{{/if}}
<div class="inputs">
  <div class="input">
    {{view Clockwork.Fields.Name valueBinding="name" placeholderTranslation="activerecord.attributes.milestone.name"}}
  </div>
  <div class="input">
    {{view Clockwork.Fields.DueDateField value=formattedDueOn}}
  </div>
  <div class="input">
    {{view Clockwork.Fields.SelectEmployee selectionBinding="responsible" nameTranslation="activerecord.attributes.milestone.responsible" promptTranslation="activerecord.attributes.milestone.responsible"}}
  </div>
  <div class="input">
    {{view Clockwork.Fields.Text valueBinding="description" placeholderTranslation="activerecord.attributes.milestone.description"}}
  </div>
</div>
