{{#if milestone}}
<h4 class="milestone_name">{{milestone.name}}</h4>
{{/if}}
{{#if hasErrors}}
<div class="alert error">{{errorMessages}}</div>
{{/if}}
<div class="inputs">
  <div class="input">
    {{view Clockwork.Fields.Name valueBinding="name" placeholder="Bezeichnung"}}
  </div>
  <div class="input">
    {{view Clockwork.Fields.DueDateField valueBinding="formatted_due_on" placeholder="Fällig am"}}
  </div>
  <div class="input">
    {{view Clockwork.Fields.SelectEmployee selectionBinding="responsible" name="Verantwortlicher"}}
  </div>
  <div class="input">
    {{view Clockwork.Fields.Text valueBinding="description" name="Beschreibung"}}
  </div>
</div>

{{#if can_manage}}
  <div class="actions">
  {{#unless isNew}}
      <button class="button-warning delete" {{action doDelete}}>Löschen</button>
  {{/unless}}
  <button class="button-success" {{action save}}>{{view.buttonLabel}}</button>
  </div>
{{/if}}
