{{#unless isValid}}
<div>{{errorMessages}}</div>
{{/unless}}
{{view Shiftplan.Fields.Name valueBinding="name" placeholder="Bezeichnung"}}
{{view Shiftplan.Fields.DueDateField valueBinding="formatted_due_on" placeholder="Fällig am"}}
<button class="button" {{action delete}}>Löschen</button>
<button class="button" {{action save}}>{{view.buttonLabel}}</button>

