{{#if milestone}}
<h4 class="milestone_name">{{milestone.name}}</h4>
{{/if}}
{{#if hasErrors}}
<div>{{errorMessages}}</div>
{{/if}}
{{view Clockwork.Fields.Name valueBinding="name" placeholder="Bezeichnung"}}
{{view Clockwork.Fields.DueDateField valueBinding="formatted_due_on" placeholder="Fällig am"}}
{{view Clockwork.Fields.SelectEmployee selectionBinding="responsible" name="Verantwortlicher"}}
{{view Clockwork.Fields.Text valueBinding="description" name="Beschreibung"}}

{{#if can_manage}}
  {{#unless isNew}}
    <button class="button" {{action doDelete}}>Löschen</button>
  {{/unless}}
  <button class="button" {{action save}}>{{view.buttonLabel}}</button>
{{/if}}

