{{view Shiftplan.MilestoneDoneView checkedBinding="done"}}
<span class="name">{{name}}</span>
{{#if due_at}}
<span class="due_on">{{formatted_due_on}}</span>
{{/if}}
{{#unless isValid}}
<div class="error">{{errorMessages}}</div>
{{/unless}}
<a {{action editMilestone this}} class="button button-small" href="#">Bearbeiten</a>
