Feedback

= "Name: #{@feedback.name}" if @feedback.name

= "E-Mail: #{@feedback.email}"

= "Browser: #{@feedback.browser}" if @feedback.browser

Description of the problem or enhancement:

= @feedback.body
