{{view Clockwork.DoableDoneView checkedBinding="done" classNames="milestone" disabledBinding="checkboxDisabled"}}
{{#link-to 'milestone.edit' this class="name"}}{{name}}{{/link-to}}
{{#if dueAt}}
<span class="due_on">{{formattedDueOn}}</span>
{{/if}}
{{#if responsible}}
<span class="employee"><span class="name">{{responsible.name}}</span></span>
{{/if}}
{{#if description}}
<span class="description">{{description}}</span>
{{/if}}
{{#if tasksEnabled}}
  {{view Clockwork.TaskListView contentBinding="savedAndSortedTasks"}}
  {{#if controller.canManage}}
  {{#link-to 'milestone.newTask' this class="button button-small button-add"}}{{t 'tasks.new.title'}}{{/link-to}}
  {{/if}}
{{/if}}
