{{#if isNew}}
  {{view Shiftplan.EditDoable contentBinding="this"}}
{{else}}
  {{view Shiftplan.ShowDoable contentBinding="this"}}
  <a href='#' {{action newTask target="view"}}>neue Aufgabe</a>
  {{view Shiftplan.TaskListView contentBinding="tasks"}}
{{/if}}
