{{view Clockwork.DoableDoneView checkedBinding="done" classNames="milestone" disabledBinding="checkboxDisabled"}}
{{#link-to 'milestone.edit' this class="name"}}{{name}}{{/link-to}}
{{#if dueAt}}
<div class="due_on">{{formattedDueOn}}</div>
{{/if}}
{{#if responsible}}
<div class="employee"><div class="name">{{responsible.name}}</div></div>
{{/if}}
{{#if description}}
<div class="description">{{description}}</div>
{{/if}}
{{#if tasksEnabled}}
  {{view Clockwork.TaskListView contentBinding="savedAndSortedTasks"}}
  {{#if controller.canManage}}
  {{#link-to 'milestone.newTask' this class="button button-small button-add"}}{{t 'tasks.new.title'}}{{/link-to}}
  {{/if}}
{{/if}}
