{{view Clockwork.DoableDoneView checkedBinding="done" classNames="milestone" disabledBinding="checkboxDisabled"}}
{{#link-to 'milestones.edit' this class="name"}}{{name}}{{/link-to}}
{{#if due_at}}
<span class="due_on">{{formatted_due_on}}</span>
{{/if}}
{{#if responsible}}
<span class="employee"><span class="name">{{responsible.name}}</span></span>
{{/if}}
{{#if description}}
<span class="description">{{description}}</span>
{{/if}}
{{#if tasksEnabled}}
  {{view Clockwork.TaskListView contentBinding="savedAndSortedTasks"}}
  {{#if currentUser.canManage}}
  <a {{action newTask this href=true}} class="button button-small button-add">neue Aufgabe</a>
  {{/if}}
{{/if}}
