{{view Clockwork.DoableDoneView checkedBinding="done" classNames="milestone" disabledBinding="checkboxDisabled"}}
<a class="name" {{action editMilestone this href=true}}>{{name}}</a>
{{#if due_at}}
<span class="due_on">{{formatted_due_on}}</span>
{{/if}}
{{#if responsible}}
<span class="employee_name">{{responsible.name}}</span>
{{/if}}
{{#if tasksEnabled}}
  {{view Clockwork.TaskListView contentBinding="savedAndSortedTasks"}}
  {{#if can_manage}}
  <a {{action newTask this href=true}} data-icon="&#xf067;" class="button">neue Aufgabe</a>
  {{/if}}
{{/if}}
