- title :settings

%h3= ta :change_email

%p= t('.instructions.email')

= simple_form_for @user, url: update_email_user_path do |f|

  .inputs
    = f.input :email, input_html: { class: 'mailcheck' }, required: true, autofocus: true
    = f.input :current_password, required: true

  .actions
    %button.btn.btn-primary= ti(:update)

%h3= ta :change_password

%p= t('.instructions.password')

= simple_form_for @user, url: update_password_user_path do |f|

  .inputs
    = f.input :current_password, required: true, autofocus: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true

  .actions
    %button.btn.btn-primary= ti(:update)
