- title :settings

%h3= t('helpers.actions.change_email')

%p= t('email_change.messages.enter_new_email_and_current_password')

= simple_form_for @user, url: user_path do |f|

  .inputs
    = f.input :email, input_html: { class: 'mailcheck' }, required: true, autofocus: true
    = f.input :current_password, required: true

  .actions
    %button.btn.btn-primary= ti(:update)
