= simple_form_for nested_resources_for(plan_template), html: { class: 'form-horizontal' } do |f|
  .inputs.edit-team
    = f.input :name, autofocus: true
    = f.input :template_type, collection: PlanTemplate.template_type_options, include_blank: false
  .actions
    = f.responsive_submit_button do
      = ta create_or_update
