<h1><%= t(:overview, :scope => :navigation) %></h1>

<div class="box">
  <ul>
    <li><%= link_to t(:employees,      :count => @number_of_employees), employees_path %></li>
    <li><%= link_to t(:qualifications, :count => @number_of_qualifications), qualifications_path %></li>
    <li><%= link_to t(:workplaces,     :count => @number_of_workplaces), workplaces_path %></li>
  </ul>
</div>

<h1>Activity</h1>

<%= @current_activities.map { |activity| presenter_for(activity, "activity/#{activity.object_type}").render }.join_safe %>

<%= @aggregated_activities.map { |activity| presenter_for(activity, "activity/#{activity.object_type}").render }.join_safe %>

<%#= render :partial => 'activities/activity', :collection => @current_activities %>
<%#= render :partial => 'activities/activity', :collection => @aggregated_activities %>