%p= "Hallo #{@employee.name}!"

- if @is_answer
  - if @scheduling.employee == @employee
    - if @comment.parent.employee == @employee
      %p= "#{@comment.employee.name} hat auf Ihren Kommentar zu einer Ihrer Schichten am #{l(@scheduling.starts_at.to_date, format: :default_with_week_day)} (#{@scheduling.quickie}) geantwortet:"
    - else
      %p= "#{@comment.employee.name} hat auf einen Kommentar zu einer Ihrer Schichten am #{l(@scheduling.starts_at.to_date, format: :default_with_week_day)} (#{@scheduling.quickie}) geantwortet:"
  - else
    - if @scheduling.commenters.include? @employee
      - if @comment.parent.employee == @employee
        %p= "#{@comment.employee.name} hat auf Ihren Kommentar zu einer Schicht von #{@scheduling.employee.name} am #{l(@scheduling.starts_at.to_date, format: :default_with_week_day)} (#{@scheduling.quickie}) geantwortet:"
      - else
        %p= "#{@comment.employee.name} hat auf einen Kommentar zu einer Schicht von #{@scheduling.employee.name} am #{l(@scheduling.starts_at.to_date, format: :default_with_week_day)} (#{@scheduling.quickie}) geantwortet. Diese Schicht haben Sie ebenfalls kommentiert:"
    - else
      %p= "#{@comment.employee.name} hat auf einen Kommentar zu einer Schicht von #{@scheduling.employee.name} am #{l(@scheduling.starts_at.to_date, format: :default_with_week_day)} (#{@scheduling.quickie}) geantwortet:"
- else
  - if @scheduling.employee == @employee
    %p= "#{@comment.employee.name} hat eine Ihrer Schichten am #{l(@scheduling.starts_at.to_date, format: :default_with_week_day)} (#{@scheduling.quickie}) kommentiert:"
  - elsif @scheduling.commenters.include? @employee
    %p= "#{@comment.employee.name} hat eine Schicht von #{@scheduling.employee.name} am #{l(@scheduling.starts_at.to_date, format: :default_with_week_day)} (#{@scheduling.quickie}) kommentiert, die Sie auch kommentiert haben:"
  - else
    %p= "#{@comment.employee.name} hat eine Schicht von #{@scheduling.employee.name} am #{l(@scheduling.starts_at.to_date, format: :default_with_week_day)} (#{@scheduling.quickie}) kommentiert:"

%p= '"' + @comment.body + '"'


%p Klicken Sie auf den folgenden Link, um zur Wochenansicht für diese Schicht zu gelangen. Kommentare und Antworten können Sie lesen und schreiben, indem Sie auf die entsprechende Schicht klicken.

%p= link_to "Zur Wochenansicht >>", organization_plan_year_week_url(@scheduling.organization, @scheduling.plan, @scheduling.year, @scheduling.week)


%p Ihr Shiftplan Team
