- @post.author = current_user.current_employee
= simple_form_for([current_account, @organization, @blog, @post], remote: true) do |f|
  = f.error_notification

  .inputs
    .form-horizontal
      = f.input :title, autofocus: true
    = f.input :author_id, as: :hidden
    = f.input :body, as: :text, input_html: { rows: 10, cols: 20 }

  .actions
    %button.button-success= ti(:update)
