.module.list.news
  %header
    %h2
      = t(:'blogs.company_news')
  .content
    - unless posts.empty?
      %ul.posts
        - posts.each do |post|
          %li
            .account-organization
              - if current_user.accounts.count > 1
                %span.account= post.account.name
                = ' / '
              %span.organization= post.organization.name
            = link_to nested_resources_for(post) do
              %span.title= post.title
            .icon-comment= ta(:'comments_count', count: post.comments.count)

    - else
      %p= t('blogs.no_posts_present')
