.meta= t(:'posts.meta_data', author: post.author.name, published_at: l(post.published_at, format: :tiny))
%h3= post.title
- if truncation
  .body= truncate(post.body, :length => 300, :omission => ' …')
- else
  .body= post.body
- if can?(:edit, post) || can?(:destroy, post)
  %p.actions
    - if can? :edit, post
      = link_to(ti(:edit), [:edit, current_organization, post.blog, post], class: 'btn btn-inverse btn-mini', remote: true)
    - if can? :destroy, post
      = button_to(ta(:destroy), [current_organization, post.blog, post], method: :delete, class: 'btn btn-danger btn-mini')
