= avatar(post.author.user, post.author, :thumb, :author)

%article
  %header
    %h1= post.title

    %p.meta
      - if post.author == current_user.current_employee
        %small.own-meta= t(:'blogs.own_meta_data', published_at: l(post.published_at, format: :tiny))
      - else
        %small.meta= t(:'blogs.meta_data', author: post.author.name, published_at: l(post.published_at, format: :tiny))

  - if truncation
    .body= truncate(post.body, :length => 300, :omission => ' …')
  - else
    .body= post.body
  
  = render('posts/comments_count', post: post)

  %p.more= link_to(:'more', [current_organization, post.blog, post])
