- if post.author == current_user.current_employee
  .own-meta= t(:'blogs.own_meta_data', published_at: l(post.published_at, format: :tiny))
- else
  .meta= t(:'blogs.meta_data', author: post.author.name, published_at: l(post.published_at, format: :tiny))
%h3= post.title
= render('posts/comments_count', post: post)
- if truncation
  .body= truncate(post.body, :length => 300, :omission => ' …')
- else
  .body= post.body
