{{#with view.content}}
  {{view Clockwork.DoableDoneView checkedBinding="done" classNames="task"}}
  {{#link-to 'milestone.task' this.milestone this class="name"}}{{name}}{{/link-to}}
  {{#if dueAt}}
  <div class="due_on">{{formattedDueOn}}</div>
  {{/if}}
  {{#if responsible}}
  <div class="employee"><div class="name">{{responsible.name}}</div></div>
  {{/if}}
  {{#if description}}
  <div class="description">{{description}}</div>
  {{/if}}
{{/with}}

