{{#with view.content}}
  {{view Clockwork.DoableDoneView checkedBinding="done" classNames="task"}}
  <a class="name" {{action editTask this href=true}}>{{name}}</a>
  {{#if due_at}}
  <span class="due_on">{{formatted_due_on}}</span>
  {{#if responsible}}
  <span class="employee_name">{{responsible.name}}</span>
  {{/if}}
  {{#if description}}
  <span class="description">{{description}}</span>
  {{/if}}
  {{/if}}
{{/with}}

