%table#calendar.table.table-striped.table-bordered.table-condensed{class: filter.range, data: filter.table_metadata}
  %thead
    %tr
      %th
        %span.employees= translate_action :employees
      - filter.formatted_days.each do |day|
        %th
          =show_with_abbr(day, truncate(day, :length => 2, :omission => ''), 'day_name')
  %tbody
    - filter.employees.each do |employee|
      %tr{data: { employee_id: employee.id }}
        %th.employee
          = avatar(employee.user, employee, :tiny)
          %span.name= employee.name
          .wwt_diff
            %span.weekly_working_time
              = translate_action(:hours) + '/'
              %abbr{title: translate_action(:wwt_long)}
                = translate_action(:wwt_short)
            %abbr.weekly_working_time{title: translate_action(:hours) + '/' + translate_action(:wwt_long)}
              ='h/' + translate_action(:wwt_short)
            = filter.wwt_diff_for(employee)
        - filter.days.each do |day|
          %td{data: filter.cell_metadata(day, employee)}
            = filter.cell_content(day, employee)

#legend
  = filter.legend
