= decorate filter do |f|
  - title f.caption, false

  #calendar-navigation.pager
    %ul
      %li.previous= f.link_to_previous_week
      %li.next= f.link_to_next_week

  %table#calendar.table.table-striped.table-bordered.table-condensed{class: f.range, data: f.table_metadata}
    %caption= f.caption
    %thead
      %tr
        %th= translate_action :employees
        - f.formatted_days.each do |day|
          %th= day
        = f.hours_header
    %tbody
      - f.employees.each do |employee|
        %tr
          %th.employee= employee.name
          - f.days.each do |day|
            %td{data: f.cell_metadata(day, employee)}
              = f.cell_content(day, employee)
          = f.hours_tag_for(employee)

  - if can? :create, Scheduling
    #actions
      = link_to ti(:copy_week), new_organization_plan_copy_week_path(current_organization, f.plan, copy_week: { target_week: f.week, target_year: f.year }), remote: true, class: 'btn btn-info'
      = link_to ti(:new_scheduling), new_organization_plan_scheduling_path(current_organization, f.plan, scheduling: { date: f.monday}), class: 'new_scheduling btn btn-inverse', remote: true

  #legend
    = f.legend
