= decorate filter do |f|
  - title f.caption, false

  #calendar-navigation
    .caption= f.caption
    #actions.btn-toolbar
      .btn-group
        = f.link_to_previous_week('btn btn-inverse')
        = f.link_to_todays_week('btn   btn-inverse')
        = f.link_to_next_week('btn     btn-inverse')
      - if can? :create, Scheduling
        .btn-group
          = link_to ti(:copy_week), new_organization_plan_copy_week_path(current_organization, f.plan, copy_week: { target_week: f.week, target_year: f.year }), remote: true, class: 'btn btn-inverse'
          = link_to ti(:new_scheduling), new_organization_plan_scheduling_path(current_organization, f.plan, scheduling: { date: f.monday}), class: 'new_scheduling btn btn-primary', remote: true

  %table#calendar.table.table-striped.table-bordered.table-condensed{class: f.range, data: f.table_metadata}
    %thead
      %tr
        %th.employees= translate_action :employees
        - f.formatted_days.each do |day|
          %th
            =show_with_abbr(day, truncate(day, :length => 2, :omission => ''), 'day_name')
    %tbody
      - f.employees.each do |employee|
        %tr
          %th.employee
            = avatar(employee.user, employee, :tiny)
            %span.name= employee.name
            / .wwt_diff= f.wwt_diff_for_as_abbr(employee)
            .wwt_diff
              %span.weekly_working_time
                = translate_action(:hours) + '/'
                %abbr{title: translate_action(:wwt_long)}
                  = translate_action(:wwt_short)
              %abbr.weekly_working_time{title: translate_action(:hours) + '/' + translate_action(:wwt_long)}
                ='h/' + translate_action(:wwt_short)
              = f.wwt_diff_for_as_abbr(employee)
          - f.days.each do |day|
            %td{data: f.cell_metadata(day, employee)}
              = f.cell_content(day, employee)

  #legend
    = f.legend
