- scheduling ||= record
- url = account_organization_plan_scheduling_path(current_account, current_organization, scheduling.plan, scheduling)
= simple_form_for scheduling, url: url, remote: true, html: { class: 'form-horizontal edit_scheduling' } do |f|
  = f.input :quickie, hint: false, wrapper_html: { class: 'quickie' }
  = f.association :employee, as: :select, include_blank: false, collection: scheduling.plan.organization.employees
  .actions
    = link_to ti(:destroy), url, remote: true, method: :delete, class: 'btn btn-danger delete'
    %button.btn.btn-success{type: 'submit'}= ti(:update)
