- scheduling = f.object
.weekday-and-time
  = f.collection_check_boxes(:days, cwdays_for_select(scheduling, :abbr_week_day), :last, :first) do |b|
    - b.label { b.check_box + b.text + content_tag(:div, class: 'weekday-date') { l(b.object.last, format: :yearless_date) } }
  = f.input :start_hour, as: :select, collection: scheduling.plan.hour_range, include_blank: false
  = f.input :end_hour, as: :select, collection: scheduling.plan.hour_range, include_blank: false

= f.input :date, as: :hidden

= f.association :employee, as: :select, collection: employees_for_select(scheduling)

= f.association :qualification, as: :select, collection: current_account.qualifications

= f.association :team, as: :select, include_blank: true, collection: scheduling.plan.organization.teams


