- scheduling = f.object
.weekday-and-time
  = f.input :date, input_html: { value: l(scheduling.date), class: 'disabled', :disabled => true }
  = f.input :start_hour, as: :select, collection: scheduling.plan.hour_range, include_blank: false
  = f.input :end_hour, as: :select, collection: scheduling.plan.hour_range, include_blank: false

-# TODO: move to disabled input for date above and change css so that float left
-# is preserved.
= f.input :date, as: :hidden

.weekdays
  = f.collection_check_boxes :days, cwdays_for_select(scheduling, :abbr_week_day), :last, :first


= f.association :employee, as: :select, collection: employees_for_select(scheduling)

= f.association :qualification, as: :select, collection: current_account.qualifications

= f.association :team, as: :select, include_blank: true, collection: scheduling.plan.organization.teams


