.module.schedulings
  %header
    %h2
      = t(:upcoming_schedulings)
      %span.count= schedulings.count
  .content
    - unless schedulings.empty?
      %table.agenda
        - schedulings.each do |scheduling|
          %tr
            %th.date
              %span.day= scheduling.starts_at.day
              %span.day-name= l scheduling.starts_at, format: :abbr_week_day
              %span.month-year= l scheduling.starts_at, format: :short_month_and_year
            %td
              .account-organization
                - plan = scheduling.plan
                - org = plan.organization
                %span.account
                  = org.account.name + ' / ' unless current_user.accounts.count <= 1
                %span.organization= org.name + ' / '
                %span.plan= plan.name
              %span.time
                = "#{scheduling.starts_at.hour} - #{scheduling.ends_at.hour}"
              - if scheduling.team.present?
                %span.team= link_to scheduling.team.to_quickie,
                account_organization_plan_employees_in_week_path(org.account,
                org, plan, week: scheduling.week, cwyear: scheduling.cwyear)
    - else
      %p= t('schedulings.no_upcoming_schedulings_present')
