= simple_form_for scheduling, url: plan_schedulings_path(scheduling.plan), remote: true do |f|
  .modal-body
    - unless scheduling.employee.present?
      = f.association :employee, :as => :select, :include_blank => false
    - else
      = f.hidden_field :employee_id
    - unless scheduling.day.present?
      = f.input :day, :collection => days_for_select(scheduling.plan), :include_blank => false
    - else
      = f.hidden_field :day
    = f.input :quicky
  .modal-footer
    = f.button :submit, ta(:create)

