= simple_form_for scheduling, url: plan_schedulings_path(scheduling.plan), remote: true, html: { class: 'form-horizontal well' } do |f|
  = f.input :quickie
  %button.btn.btn-success{type: 'submit'}
    %i.icon-ok-circle.icon-white
    = ta :create
  = f.input :date, :collection => cwdays_for_select(filter.monday), :include_blank => false
  - unless scheduling.employee.present?
    = f.association :employee, :as => :select, :include_blank => false
  - else
    = f.hidden_field :employee_id

