%thead
  %tr
    %th
      = render 'schedulings/week_switch', filter: filter
    - filter.formatted_days.each do |full, date, abbr|
      %th
        = abbr_tag(abbr, full, class: 'day_name')
        %div.date-without-year= date
%tbody{ class: editable_class }
  - filter.teams.each do |team|
    %tr{data: { :'team-id' => team.id }}
      %th.team
        .pibble.team-color{style: "background-color: #{team.color};"}
        .team_name
          = team.name
          = '(' + team.shortcut + ')'
      - filter.days.each do |day|
        = filter.render_cell_for_day day, team
  %tr
    %th.team
      .pibble
      .team_name
        = t(:'schedulings.missing_team')
    - filter.days.each do |day|
      = filter.render_cell_for_day day, nil


