- title filter.caption, false

%table#calendar.calendar.employee-in-week{class: filter.range, data: filter.table_metadata}
  %thead
    %tr
      %th
        = render 'week_switch', filter: filter
      - filter.formatted_days.each do |full, date, abbr|
        %th
          = abbr_tag(abbr, full, class: 'day_name')
          %div.date-without-year= date
  %tbody
    - filter.employees.each do |employee|
      %tr{data: { employee_id: employee.id }}
        %th.employee
          = avatar(employee.user, employee, :tiny)
          %span.employee_name= employee.name
          .wwt_diff
            %span.weekly_working_time
              = translate_action(:hours) + '/'
              %abbr{title: translate_action(:wwt_long)}
                = translate_action(:wwt_short)
            %abbr.weekly_working_time{title: translate_action(:hours) + '/' + translate_action(:wwt_long)}
              ='h/' + translate_action(:wwt_short)
            = filter.wwt_diff_for(employee)
        - filter.days.each do |day|
          - cell_html_options = { data: filter.cell_metadata(day, employee) }
          - if filter.outside_plan_period?(day)
            - cell_html_options.merge!(class: 'outside_plan_period')
          %td{cell_html_options}

#legend
  = filter.legend

= render 'plans/details', plan: filter.plan
