- title filter.caption, false

%table#calendar.employee-in-week.table.table-striped.table-bordered.table-condensed{class: filter.range, data: filter.table_metadata}
  %thead
    %tr
      %th
        = render 'week_switch', filter: filter
      - filter.formatted_days.each do |full, abbr|
        %th= abbr_tag(abbr, full, class: 'day_name')
  %tbody
    - filter.employees.each do |employee|
      %tr{data: { employee_id: employee.id }}
        %th.employee
          = avatar(employee.user, employee, :tiny)
          %span.employee_name= employee.name
          .wwt_diff
            %span.weekly_working_time
              = translate_action(:hours) + '/'
              %abbr{title: translate_action(:wwt_long)}
                = translate_action(:wwt_short)
            %abbr.weekly_working_time{title: translate_action(:hours) + '/' + translate_action(:wwt_long)}
              ='h/' + translate_action(:wwt_short)
            = filter.wwt_diff_for(employee)
        - filter.days.each do |day|
          %td{data: filter.cell_metadata(day, employee)}
            = filter.cell_content(day, employee)

#legend
  = filter.legend

= render 'plans/details', plan: filter.plan
