- raise ArgumentError, "must provide :organization" unless defined?(organization)
- if organization.present?
  - base = [organization.account, organization]
  = li_link "#{organization.name} >>", base, can: [:read, organization]
  - if (company_blog = organization.company_blog).present?
    = li_link '.news', base + [company_blog, :posts], can: [:read, organization]
  - active_or_not = dropdown_class polymorphic_path(base)
  %li{class: "dropdown #{active_or_not}"}
    %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
      %span{class: "name #{active_or_not}"}= t(:'helpers.actions.plans')
      %b.caret
    %ul.dropdown-menu
      %li= link_to :all_plans, base + [:plans]
      - organization.plans.each do |plan|
        %li= link_to plan.name, base + [plan]
  = li_link '.employees', base + [:employees], can: [:show, Employee]
  = li_link '.teams',     base + [:teams],     can: [:show, Team]

