- defined?(current) or raise(ArgumentError, "must provide :current (organization)")
- if current_account
  - organizations = current_user.organizations_for(current_account)
  - if organizations.count > 1
    - if current_organization.present?
      %li{class: "dropdown #{dropdown_class(url_for(nested_resources_for(current_organization)))}"}
        = link_to current_organization.name, nested_resources_for(current_organization),
          class: 'organization', data: { icon: i(:organization), toggle: 'dropdown' }
        %ul.organization-dropdown
          - (organizations - [current_organization]).each do |org|
            %li= link_to org.name_with_account, nested_resources_for(org)
    - else
      %li.dropdown
        %a{href: '#', 'data-toggle' => 'dropdown'}= Organization.model_name.human count: 9001
        %ul.organization-dropdown
          - organizations.each do |org|
            %li= link_to org.name_with_account, nested_resources_for(org)
  - else
    - link_caption = current.name.blank? ? t('.new_organization') : current.name
    = li_link link_caption, nested_resources_for(current), class: 'organization', data: { icon: i(:organization) }
