%table#organizations
  %thead
    %tr.organization
      %th= t('activerecord.attributes.organization.name')
      - if can? :edit, Organization
        %th= t('action')

  %tbody
    - records.each do |record|
      %tr{id: "record_#{record.id}"}
        %th= link_to record.name, nested_resources_for(record)
        - if can? :edit, record
          %td= link_to :edit, [:edit] + nested_resources_for(record),
            remote: true, class: 'button button-small'
