- title @organization.name + " " + t(:dashboard)


.row.two-columns.inverted.dashboard
  .primary
    .module.list.notifications
      %header
        %h2
          = t(:notifications)
          %span.count 28

      .content
        %ul
          %li
            = image_tag 'https://secure.gravatar.com/avatar/805ea7f363eeb009288b7f285258f565.png?d=mm&r=PG&s=27'
            %strong
              John Smith
            has commented on your scheduling
          %li
            = image_tag 'https://secure.gravatar.com/avatar/805ea7f363eeb009288b7f285258f565.png?d=mm&r=PG&s=27'
            %strong
              John Smith
            assigned you to
            %a
              9-17 Work Work [WW]
          %li
            = image_tag 'https://secure.gravatar.com/avatar/805ea7f363eeb009288b7f285258f565.png?d=mm&r=PG&s=27'
            %strong
              John Smith
            has invited you to join
            %a
              Organization
          %li
            = image_tag 'https://secure.gravatar.com/avatar/805ea7f363eeb009288b7f285258f565.png?d=mm&r=PG&s=27'
            %strong
              John Smith
            rescheduled your shift
            %a
              9-17 Work Work [WW]
    
    .module.schedulings
      %header 
        %h2 
          = t(:upcoming_schedulings)
          %span.count 17

      .content
        %table.agenda
          %tr
            %th.date
              %span.day
                20
              %span.day-name
                Wed
              %span.month-year
                Oct 2012
            %td
              %strong
                9 - 17

              Team Name [TN]

          %tr
            %th.date
              %span.day
                26
              %span.day-name
                Wed
              %span.month-year
                Oct 2012
            %td
              %strong
                9 - 17

              Team Name [TN]              

          %tr
            %th.date
              %span.day
                29
              %span.day-name
                Wed
              %span.month-year
                Oct 2012
            %td
              %strong
                9 - 17

              Other Team Name [OTN]

  .secondary
    - if @organization.company_blog.present?
      .module.list.news
        %header
