- if current_organization.plan_templates.present?
  = simple_form_for apply_plan_template,
    url: nested_resources_for(apply_plan_template.plan) + [:apply_plan_template] do |f|
    .inputs
      = f.input :plan_template_id,
        collection: apply_plan_template.plan_templates_for_select,
        include_blank: false, input_html: { class: 'chosen-select' }
      = f.hidden_field :target_year
      = f.hidden_field :target_week
    .actions
      = f.responsive_submit_button :apply
- else
  %p= t('.no_plan_template_present')
  %p= t('.goto_plan_templates')
  = link_to ta(:plan_templates), nested_resources_for(current_organization) + [:plan_templates],
    class: 'button'
