%ul.nav
  - if user_signed_in?
    - if current_user.is_multiple?
      = li_link '.dashboard', dashboard_path, can: [:dashboard, current_user], class: 'dashboard', data: { icon: i(:dashboard) }

    - if current_user.is_multiple?
      - if organization = @organization || current_organization
        %li.dropdown
          = link_to organization.name, '#', class: 'organization', data: { icon: i(:organization), toggle: 'dropdown' }
          %ul.organization-dropdown
            - (current_user.joined_organizations - [organization]).each do |org|
              %li= link_to org.name_with_account, nested_resources_for(org)

        = render 'organizations/navigation_links', organization: organization
    - else
      -# TODO: change me here after datamodel changed
      - if organization = current_user.joined_organizations.first
        = li_link organization.name, [organization.account, organization], class: 'organization', data: { icon: i(:organization) }



