%ul
  - if user_signed_in?
    %li.dropdown
      - if current_user.multiple? || current_user.employees.empty?
        = link_to render('avatar_and_name'), profile_employees_path, { data: { toggle: 'dropdown' }}
      - else
        = link_to render('avatar_and_name'), edit_profile_employee_path(current_user.employees.first), { data: { toggle: 'dropdown' }}
      %ul
        - if current_user.multiple? || current_user.employees.empty?
          %li= link_to :settings, profile_employees_path, :class => 'icon-settings'
        - else
          %li= link_to :settings, edit_profile_employee_path(current_user.employees.first), :class => 'icon-settings'
        %li= link_to :signout, destroy_user_session_path, :method => :delete, :class => 'icon-signout'
  - else
    %li= link_to :signup, new_user_registration_path, :class => 'icon-signup'
    %li= link_to :signin, new_user_session_path, :class => 'icon-signin'
