%ul
  - if user_signed_in?
    %li= link_to '?', '#', {:class => 'help-faq', :id => 'help', :title => t('helpers.actions.help')}
    = render 'application/notification_hub', notifications: current_user.notifications_for_hub
    %li.dropdown
      - if current_user.multiple? || current_user.employees.empty?
        = link_to avatar(current_user, current_employee, :tiny), profile_employees_path, :class => 'user'
      - else
        = link_to avatar(current_user, current_employee, :tiny), edit_profile_employee_path(current_user.employees.first), :class => 'user'

      %ul
        - if current_user.multiple? || current_user.employees.empty?
          %li= link_to :settings, profile_employees_path, :class => 'icon-settings'
        - else
          %li= link_to :settings, edit_profile_employee_path(current_user.employees.first), :class => 'icon-settings'
        %li= link_to :signout, destroy_user_session_path, :method => :delete, :class => 'icon-signout'
  - else
    %li= link_to :signup, new_user_registration_path, :class => 'icon-signup'
    %li= link_to :signin, new_user_session_path, :class => 'icon-signin'
