- provoker ||= nil
- show_details ||= false
- scheduling ||= record

%heading
  .account-name= scheduling.plan.organization.account.name
  .org-name= scheduling.plan.organization.name
  .plan-name= scheduling.plan.name

%a{href: polymorphic_path(*nested_show_resources_for(scheduling, mode: current_plan_mode))}
  %section.scheduling{class: scheduling.css_class}
    = scheduling.work_time

  - if show_details || provoker || provoker.account == scheduling.account
    - if qualification = scheduling.try(:qualification)
      %span.qualification_name
        = qualification.name
    - if scheduling.team
      = abbr_tag scheduling.team_name, scheduling.team_name, class: 'team_name'
