= simple_form_for [current_organization, plan], html: { class: 'form-horizontal' }do |f|
  - unless plan.duration.present?
    = f.input :duration, :collection => durations_for_select(plan), :as => :radio, autofocus: true
    = f.button :submit, translate_action('.next')
  - else
    = f.input :name, autofocus: true
    .buttons
      %button.btn.btn-success{type: 'submit'}
        %i.icon-ok-circle.icon-white
        = ta :create
