= simple_form_for nested_resources_for(plan), remote: true do |f|
  - unless plan.duration.present?
    = f.input :duration, :collection => durations_for_select(plan), :as => :radio, autofocus: true
    = f.button :submit, translate_action('.next')
  - else
    .inputs
      = f.input :name, autofocus: true
      = f.input :starts_at, as: :stringy_date, hint: true,
        input_html: { value: plan.starts_at.present? ? plan.starts_at.iso8601 : '' }
      = f.input :ends_at, as: :stringy_date, hint: true,
        input_html: { value: plan.ends_at.present? ? plan.ends_at.iso8601 : '' }
      = f.input :description, input_html: { rows: 3 }
    .actions
      = f.create_or_update_button
