<div id="sidebar">
  <h3><%= t(:new_plan) %></h3>
  <% form_for(Plan.new) do |f| %>
		<input type="hidden" name="_method" value="" />
    <fieldset>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :start_date %>
        <%= f.date_select :start_date %>
      </div>
      <div>
        <%= f.label :end_date %>
        <%= f.date_select :end_date %>
      </div>
      <div>
        <%= label_tag :copy_from_id, t(:'activerecord.attributes.plan.template') %>
        <%= select_tag 'copy_from[id]', tag(:option) + options_from_collection_for_select(@templates, :id, :name) %>
      </div>
      <div id="copy_from_options">
        <div>
          <%= check_box_tag 'copy_from[elements][]', 'shifts', {}, :id => :copy_from_shifts %>
    	    <%= label_tag :copy_from_shifts, t(:shifts), :class => 'inline' %>
        </div>
        <div>
          <%= check_box_tag 'copy_from[elements][]', 'requirements', {}, :id => :copy_from_requirements %>
    	    <%= label_tag :copy_from_requirements, t(:requirements), :class => 'inline' %>
        </div>
        <div>
          <%= check_box_tag 'copy_from[elements][]', 'assignments', {}, :id => :copy_from_assignments %>
    	    <%= label_tag :copy_from_assignments, t(:assignments), :class => 'inline' %>
        </div>
      </div>
    </fieldset>

    <h4><%= t(:shifts, :scope => :'activerecord.attributes.plan') %></h4>
  	<fieldset>
      <div>
        <%= f.label :start_time %>
        <%= f.time_select :start_time, :minute_step => 15 %>
      </div>
      <div>
        <%= f.label :end_time %>
        <%= f.time_select :end_time, :minute_step => 15 %>
      </div>
    </fieldset>

  	<h4><%= t(:options) %></h4>
  	<fieldset>
  	  <div>
  	    <%= f.label :template, t(:'activerecord.attributes.plan.template') %>
        <%= f.check_box :template %>
  	  </div>
  	</fieldset>

    <%= f.submit t(:save) %>
  <% end %>
</div>
