<div id="sidebar">
  <h3><%= t(:new_plan) %></h3>
  <% form_for(Plan.new) do |f| %>
    <fieldset>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :start_date %>
        <%= f.date_select :start_date %>
      </div>
      <div>
        <%= f.label :end_date %>
        <%= f.date_select :end_date %>
      </div>
    </fieldset>

    <h4><%= t(:shifts, :scope => :'activerecord.attributes.plan') %></h4>
  	<fieldset>
      <div>
        <%= f.label :start_time %>
        <%= f.time_select :start_time %>
      </div>
      <div>
        <%= f.label :end_time %>
        <%= f.time_select :end_time %>
      </div>
    </fieldset>

    <%= f.submit t(:save) %>
  <% end %>
</div>
