= simple_form_for [current_account, current_organization, plan], html: { class: 'form-horizontal' }, remote: true do |f|
  - unless plan.duration.present?
    = f.input :duration, :collection => durations_for_select(plan), :as => :radio, autofocus: true
    = f.button :submit, translate_action('.next')
  - else
    .inputs
      = f.input :name, autofocus: true
      = f.input :starts_at, as: :stringy_date, hint: true
      = f.input :ends_at, as: :stringy_date, hint: true
      = f.input :description, input_html: { rows: 3 }
    .actions
      %button.button-success{type: 'submit'}
        %i.icon-ok-circle.icon-white
        = ta :create
