<div id="sidebar">
	<h3><%= t(:employees) %></h3>
	<ul id="employees">
	  <%= employees.map { |model| presenter_for(model) } -%>
	</ul>

	<h3><%= t(:workplaces) %></h3>
	<ul id="workplaces">
	  <%= workplaces.map { |model| presenter_for(model) } -%>
	</ul>

  <h3><%= t(:qualifications)%></h3>
	<ul id="qualifications">
	  <%= qualifications.map { |model| presenter_for(model) } -%>
		<!--<li><a href="#" class="qualification any">(Beliebig)</a></li>-->
	</ul>
</div>