- title @plan.name

%ul.actions
  %li= link_to '.new_scheduling', new_plan_scheduling_path(resource)

%table#calendar
  %thead
    %tr
      %th= translate_action '.employees'
      - @plan.each_day do |day|
        %th= day.day
  %tbody
    - @plan.organization.employees.order_by_name.each do |employee|
      %tr
        %td.employee= employee.name
        - @plan.each_day do |day|
          %td.scheduling= employee.schedulings.find_all_by_plan_id(@plan.id).select { |s| s.starts_at && s.starts_at.day == day.day }.map { |s| "#{s.starts_at.hour}-#{s.ends_at.hour}" }.first

