- title @plan.name

- new_scheduling_dom_id = dom_id(@plan, 'new_scheduling')

= decorate @plan do |p|
  = mobile_tag :role => 'page', :id => p.dom_id do
    %ul.actions
      - if @plan.employees_available?
        %li= link_to '.new_scheduling', "##{p.new_scheduling_dom_id}", :class => 'new_scheduling', 'data-rel' => 'dialog'

    %div#calendar-container
      %table#calendar
        %thead
          %tr
            %th= translate_action '.employees'
            - p.model.each_day do |day|
              %th= day.day
        %tbody
          - p.employees.each do |employee|
            %tr
              %td.employee= employee.name
              - p.model.each_day do |column|
                %td{data: {employee_id: employee.id, day: column.day}}= p.quicky_list(employee, column.day)

  = mobile_tag :role => 'page', :id => p.new_scheduling_dom_id do
    = render 'schedulings/new_form', :scheduling => p.schedulings.new
