<style type="text/css">
	body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	#plan {
		width: 865px;
		margin: 30px 500px 30px 30px;
		padding-right: 320px;
	}
	#plan h2 {
		margin-top: 1.5em;
		font-size: 1.3em;
		font-weight: normal;
		color: #bbb;
	}
	#plan .day:first-child h2 {
		margin-top: 0;
	}
	#plan .shifts {
		margin-top: 1em;
		border-style: solid;
		border-color: #aaa;
		border-width: 1px 0;
		background-image: url(../public/images/plan_scale.png);
		min-height: 38px;
	}
	#plan .shift {
		position: relative;
		min-height: 38px;
		/*cursor: move;*/
	}
	#plan .assignments > li {
		float: left;
		margin: 4px 0 0 4px;
	}
	#plan .assignment,
	#plan .requirement {
		float: left;
		display: block;
		height: 30px;
		width: 30px;
		text-indent: 30px;
		overflow: hidden;
		z-index: 999;
	}
	#plan h3 {
		float: right;
		margin: 1em 1em 0 0;
		font-size: 0.9em;
		font-style: italic;
		color: #666;
	}
	#plan .shifts .resize_handle {
		position: absolute;
		display: block;
		top: 0;
		height: 100%;
		width: 10px;
		cursor: col-resize;
	}
	#plan .shifts .resize_handle.left {
		left: 0;
		cursor: w-resize;
	}
	#plan .shifts .resize_handle.right {
		right: 0;
		cursor: e-resize;
	}
	#sidebar {
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		padding: 1em;
		border-left: 1px solid #ccc;
		background-color: #fff;
	}
	#sidebar > * {
		margin-left: 20px;
		margin-bottom: 1em;
	}
	#sidebar h3:first-child {
		margin-top: 0;
	}
	#sidebar h3 {
		font-size: 1.15em;
		color: #bbb;
		margin-top: 1.5em;
	}
	#sidebar a {
		text-decoration: none;
		color: #666;
	}
	#sidebar form {
		width: 250px;
		display: none;
	}
	#sidebar input[type=search] {
		width: 87%;
	}
	#sidebar ul {
		width: 250px;
		overflow: auto; /* clearfix */
	}
	#sidebar li a {
		display: block;
		float: left;
		margin: 0 4px 4px 0;
		padding: 4px;
		line-height: 30px;
		font-size: 0.85em;
		background-color: #efefef;
	}
	#sidebar .employee {
		width: 70px;
	}
	#sidebar .workplace,
	#sidebar .qualification {
		width: 110px;
	}
	#sidebar li div {
		float: left;
		height: 30px;
		width: 30px;
		margin-right: 4px;
	}
	#plan .assignment,
	#plan .requirement,
	#sidebar .qualification div {
		height: 26px;
		border-style: solid;
		border-bottom-width: 4px;
		border-color: transparent;
		background-image: url(http://github.com/images/gravatars/gravatar-30.png);
	}
	#sidebar .ui-draggable-dragging {
		width: 30px !important;
		height: 30px;
		overflow: hidden;
	}
	#sidebar .ui-draggable-dragging a {
		background-position: left top;
	}
	
	/* IMAGES */

  <% @employees.each do |employee| -%>
	#plan .<%= dom_id(employee) %>,
	.<%= dom_id(employee) %> div {
		background-image: url(<%= employee.gravatar_url_for_css(:size => 30) %>);
	}
	<% end -%>

	/* COLORS */
	
	<% @workplaces.each do |workplace| -%>
	#plan .<%= dom_id(workplace) %>,
	.<%= dom_id(workplace) %> div {
		background-color: <%= workplace.color %>;
	}
	<% end -%>

	#plan .qualification_1,
	#sidebar .qualification_1 div {
		border-color: #ff5959;
	}
	#plan .qualification_2,
	#sidebar .qualification_2 div {
		border-color: #ffac59;
	}
	#plan .qualification_3,
	#sidebar .qualification_3 div {
		border-color: #ffff59;
	}
	#plan .qualification_4,
	#sidebar .qualification_4 div {
		border-color: #acff59;
	}
	#plan .qualification_5,
	#sidebar .qualification_5 div {
		border-color: #59ff59;
	}
	#plan .qualification_6,
	#sidebar .qualification_6 div {
		border-color: #59ffac;
	}
	#plan .qualification_7,
	#sidebar .qualification_7 div {
		border-color: #59ffff;
	}
	#plan .qualification_8,
	#sidebar .qualification_8 div {
		border-color: #59acff;
	}
</style>
<script type="text/javascript">
$(document).ready(function() {
  $('#workplaces a.workplace').prepend('<div></div>');
  $('#employees a.employee').prepend('<div></div>');
  $('#qualifications a.qualification').prepend('<div></div>');
});
</script>
<div id="plan" data-start="<%= @plan.start_in_minutes %>" data-duration="<%= @plan.duration_in_minutes %>">
  <% @plan.days.each do |day| -%>
	<div class="day">
		<h2><%= l(day, :format => :long) %></h2>
		<ul class="shifts">
		  <%= render :partial => 'shift', :collection => Array(@shifts_by_day[day]) %>
		</ul>
	</div>
	<% end -%>
</div>
<%= render :partial => 'sidebar', :locals => { :employees => @employees, :workplaces => @workplaces, :qualifications => @qualifications } %>