- title @plan.name

%ul.actions
  %li= link_to '.new_scheduling', new_plan_scheduling_path(resource)

= decorate @plan do |p|
  %table#calendar
    %thead
      %tr
        %th= translate_action '.employees'
        - p.model.each_day do |day|
          %th= day.day
    %tbody
      - p.employees.each do |employee|
        %tr
          %td.employee= employee.name
          - @plan.each_day do |column|
            %td= p.quickies_for(employee, column.day)