- title @plan.name

= decorate @plan do |plan|
  - case plan.model.duration
  - when '1_month'
    = render 'plans/month', plan: plan
  - when '1_week'
    = render 'plans/week', plan: plan
  - else
    unknown duration #{plan.model.duration}

  - if @plan.employees_available?
    = link_to '.new_scheduling', "##{plan.new_scheduling_dom_id}", :class => 'new_scheduling', 'data-toggle' => 'modal'

  %div.modal.hide.fade.in{id:  plan.new_scheduling_dom_id}
    = render 'schedulings/new_form', :scheduling => plan.schedulings.new
