<style type="text/css">
	/* IMAGES */

  <% @employees.each do |employee| -%>
	#plan .<%= dom_id(employee) %>,
	.<%= dom_id(employee) %> div {
		background-image: url(<%= employee.gravatar_url_for_css(:size => 30) %>);
	}
	<% end -%>

	/* COLORS */
	/*
	<% @workplaces.each do |workplace| -%>
	#plan .<%= dom_id(workplace) %>,
	.<%= dom_id(workplace) %> div {
		background-color: <%= workplace.color %>;
	}
	<% end -%>

  <% @qualifications.each do |qualification| -%>
	#plan .qualification_<%= qualification.id %>,
	.qualification_<%= qualification.id %> div {
		border-color: <%= qualification.color %>;
	}
	<% end -%>
  #plan .qualification.any,
  .qualification.any div {
    border-color: transparent;
  }
*/
</style>
<!--
-->

<div id="plan" data-start="<%= @plan.start_in_minutes %>" data-duration="<%= @plan.duration_in_minutes %>">
  <% @plan.days.each do |day| -%>
		<div class="day" data-day="<%= day.strftime('%Y%m%d') %>">
			<h2><%= l(day, :format => "%A, %d. %B %y") %></h2>
			<ul class="shifts">
			  <%= render :partial => 'shift', :collection => Array(@shifts_by_day[day]) %>
			</ul>
		</div>
	<% end -%>
</div>

<%= render :partial => 'sidebar', :locals => { :employees => @employees, :workplaces => @workplaces, :qualifications => @qualifications } %>
