.row.two-columns
  %nav.secondary
    %ul.user-settings.nav-pills.nav-stacked
      - if current_user.multiple?
        = li_link :profile, profile_employees_path
      - elsif employee = current_user.employees.first
        = li_link :profile, edit_profile_employee_path(employee)
      = li_link :advanced_settings, edit_profile_path
      = li_link :change_email, change_email_path
      = li_link :change_password, change_password_path
  .primary.content-form
    = yield

