- title :settings

= render layout: 'profile/with_menu' do
  %h3= ta :advanced_settings

  %p= t('profile.edit.instructions')

  = simple_form_for current_user, url: profile_path do |f|
    = f.error_notification
    .inputs
      = f.input :locale, collection: locales_for_select, include_blank: false, :wrapper_html => { :class => 'form-horizontal' }
    .actions
      = f.responsive_submit_button :update
