.module
  %header
    %h2= t '.heading'
  .content
    %ul.lines
      - Account.order('created_at ASC').last(12).reverse.each do |account|
        %li
          = account.name
          = link_to account.email, "mailto:#{account.email}"
          = surround '(', ')' do
            = l account.created_at.to_date
