- total_decimal_duration = number_with_precision(total_duration, precision: 2)
%table#reports
  %thead
    %tr
      %th= t('.date')
      %th= t('.hours')
      %th= Employee.human_attribute_name(:full_name)
      %th= t('.team')
      %th= t('.qualification')
      %th= t('.plan')
      %th= t('.organisation')
    %tr.aggregation
      %td.numeric= t('.total_duration')
      %td.numeric= total_decimal_duration
      %td{colspan: 5}

  %tbody
    - @schedulings.order("starts_at DESC").reject(&:previous_day).map(&:decorate).each do |scheduling|
      %tr{ id: "record_#{scheduling.id}" }
        %td= scheduling.link_to_calendar l(scheduling.starts_at.to_date)
        %td.numeric= number_with_precision(scheduling.decimal_duration, precision: 2)
        %td= scheduling.employee.try(:last_and_first_name)
        %td= scheduling.team.try(:name)
        %td= scheduling.qualification.try(:name)
        %td= scheduling.plan.name
        %td= scheduling.organization.name

  %tfoot
    %tr.aggregation
      %td.numeric= t('.total_duration')
      %td.numeric= total_decimal_duration
      %td{colspan: 5}
