- total_decimal_duration = number_with_precision(report.total_duration, precision: 2)

%table#reports.reports
  %thead
    %tr
      %th= t('.date')
      %th.numeric= t('.hours')
      %th= t('.all_day')
      %th= t('.employees')
      %th= t('.plan')
      %th= t('.organisation')
      %th= t('.team')
      %th= t('.qualification')
    %tr.aggregation
      %td.numeric= t('.total_duration')
      %td.numeric= total_decimal_duration
      %td{colspan: 5}

  %tbody
    - report.records.map(&:decorate).each do |scheduling|
      %tr{ id: "record_#{scheduling.id}" }
        %td= scheduling.link_to_calendar l(scheduling.starts_at.to_date)
        %td.numeric= number_with_precision(scheduling.decimal_duration, precision: 2)
        %td= yes_or_no_tag(scheduling.all_day?)
        %td= scheduling.employee.try(:last_and_first_name)
        %td= scheduling.plan.name
        %td= scheduling.organization.name
        %td= scheduling.team.try(:name)
        %td= scheduling.qualification.try(:name)

  %tfoot
    %tr.aggregation
      %td.numeric= t('.total_duration')
      %td.numeric= total_decimal_duration
      %td{colspan: 5}
