%table#reports
  %thead
    %tr.report
      %th= t('.date')
      %th= t('.hours')
      %th= Employee.human_attribute_name(:full_name)
      %th= t('.team')
      %th= t('.qualification')
      %th= t('.plan')
      %th= t('.organisation')

  %tbody
    - @schedulings.order("starts_at DESC").each do |scheduling|
      %tr{ id: "record_#{scheduling.id}" }
        %td= l(scheduling.starts_at.to_date)
        %td.numeric= scheduling.duration
        %td= scheduling.employee.try(:last_and_first_name)
        %td= scheduling.team.try(:name)
        %td= scheduling.qualification.try(:name)
        %td= scheduling.plan.name
        %td= scheduling.organization.name
