- title :report_of_current_month

- unless collection.empty?
  = form_tag [current_account, :reports], method: :get do
    = label_tag 'org_id', t('activerecord.models.organization.one')
    = select_tag 'org_id',
      options_from_collection_for_select(current_account.organizations.default_sorting, 'id', 'name', params[:org_id]),
      include_blank: true
    = submit_tag ta(:filter)

  = render 'table', records: collection
- else
  %p= t(:'.no_schedulings')
