- title :report_of_current_month

- unless @report.records.empty?

  - unless current_organization
    = simple_form_for @report, url: [:new, current_account, :report], method: :get do |f|
      .inputs
        = f.input :organization_id, collection: current_account.organizations,
          include_blank: true, input_html: { class: 'chosen-select' }

      .actions
        = f.responsive_submit_button ta(:filter)

  = render 'table', records: @report.records

- else
  %p= t(:'.no_schedulings')
