- title :report

= render 'form', report: @report

- unless @report.records.empty?

  = render 'table', records: @report.records

  - first = 50
  - number_links = [first, 100, 250].select { |n| n < @report.total_number_of_records }.map(&:to_s)
  - unless number_links.empty?
    - limit_param = params[:report].try(:[], :limit)
    %span
      = t('.show')
      - (number_links + ['all']).each do |lim|
        =  link_to lim.to_sym, { report: { limit: lim } },
          class: ((limit_param == lim || limit_param.nil? && lim == first.to_s) && 'active')
      = t('.total_number_of_records', total: @report.total_number_of_records)
  - else
    %span= t('.number_of_records_found', total: @report.total_number_of_records)

- else
  %p= t(:'.no_schedulings')
