- title :report_of_current_month

- unless @report.records.empty?

  - unless current_organization
    = simple_form_for @report, url: [:new, current_account, :report], method: :get do |f|
      = f.input :organization_id, collection: current_account.organizations, include_blank: true
      = f.submit ta(:filter)

  = render 'table', records: @report.records
- else
  %p= t(:'.no_schedulings')
