%head
  %meta{'http-equiv' => "Content-Type", 'content' => "text/html;charset=utf-8"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.4"}
  -# the jquery datepicker needs to know the current locale
  %meta{name: "locale", content: I18n.locale }
  %title
    - if content_for?(:title)
      = yield(:title)
      \-
    Shiftplan
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'lib'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  -# just set something so gon is always present
  - controller.gon.controller_name = controller.controller_name
  = include_gon
  - if current_organization?
    = render 'teams/colors', teams: current_organization.teams

  %script{ :type => "text/javascript",  :src => "http://use.typekit.com/gye8xts.js" }

  :javascript
    try{Typekit.load();}catch(e){}
