%head
  %meta{'http-equiv' => "Content-Type", 'content' => "text/html;charset=utf-8"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.4"}
  %title
    - if content_for?(:title)
      = yield(:title)
      \-
    Shiftplan
  = stylesheet_link_tag 'application'
  = stylesheet_link_tag 'iPad'
  = stylesheet_link_tag 'iPhone'
  = stylesheet_link_tag 'print', :media => "print"
  = javascript_include_tag 'lib'
  - unless Rails.env.test?
    %script{src:'http://www.jotform.com/min/?g=feedback2', type:'text/javascript'}
  = javascript_include_tag 'application'
  = csrf_meta_tags
  -# just set something so gon is always present
  - controller.gon.controller_name = controller.controller_name
  = include_gon
