<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= yield :title %> | shiftplan.com</title>
    <%= stylesheet_link_tag 'jquery-ui/ui-lightness/jquery-ui', 'application' %>
    <!--[if IE]>
      <%= stylesheet_link_tag 'ie' %>
    <![endif]-->

		<style type="text/css">
		table {
			border-collapse: collapse;
		}
		#allocations_by_day {
			width: 100%;

		}
		#allocations_by_day tbody tr {
			height: 60px;
			vertical-align: top;
		}
		th, td {
			padding: 0;
			border: 1px solid black;
		}
		.requirement {
			position: absolute;
			height: 80px;
			width: 20px;
			background-color: yellow;
		}
		.slot {
			height: 15px;
		}
		</style>

    <%= javascript_include_tag 'jquery', 'jquery.form.js', 'date', 'jquery-ui.js', :cache => true %>
    <%= yield(:head) %>
    <script type="text/javascript">
		  var requirement_options = {
				grid: [0, 15],
				handles: 's, n'
			};

      $(document).ready(function() {
				$('.slot').live('dblclick', function() {
					element = $(this);

					var workplace_id = element.closest('.workplace').attr('data-workplace-id');

					var match = element.attr('data-time').match(/^0?(\d*):(\d{2})/);

					var start_time = new Date();
					start_time.setHours(parseInt(match[1]));
					start_time.setMinutes(parseInt(match[2]));

					var end_time = new Date(start_time);
					end_time.setHours(start_time.getHours() + 1);

					var html = '<div class="requirement unstaffed workplace_' + workplace_id + '"></div>';
					var children = element.children('.requirement').length;
					var minutes = (end_time - start_time) / (60 * 1000);

					element.append($(html).attr('data-quantity', 1).
 					                       attr('data-start-time', [start_time.getHours(), start_time.getMinutes()].join(':')).
					                       attr('data-end-time', [end_time.getHours(), end_time.getMinutes()].join(':')).
																 css({'height': minutes.toString() + 'px', 'margin-left': (children * 20).toString() + 'px'}).
																 resizable(requirement_options));
				});

				$('.requirement').live('dblclick', function() {
					$(this).append('<form class="edit_requirement"><label for="quantity">Quantity</label><input id="quantity" type="text" /></form>');
				});

				$('.requirement').resizable(requirement_options);
        <%= yield(:jquery) %>
      });
    </script>
  </head>
  <body>
		<div>
	    <ul id="navigation">
	      <li><%= link_to t(:workplaces), workplaces_path %></li>
				<li><%= link_to t(:employees), employees_path %></li>
				<li><%= link_to t(:allocations), allocations_path %></li>
	    </ul>
	    <div id="content">
	      <%- if flash[:notice] -%>
	        <div id="flash" class="notice"><%= flash[:notice] %></div>
	      <%- elsif flash[:error] -%>
	        <div id="flash" class="error"><%= flash[:error] %></div>
	      <%- end -%>
	      <%= yield %>
	    </div>
		</div>
  </body>
</html>