!!!5
%html
  = render 'layouts/head'
  %body
    = render 'layouts/top'

    .wrap
      %section{role: 'content'}
        = render 'flash'
        %header.masthead
          - if show_title?
            %h2#title= yield(:title)
          - if content_for? :masthead_toolbar
            %nav{role: 'toolbar'}= yield(:masthead_toolbar)

        = yield
      = render 'layouts/footer'

  = render 'layouts/foot'
