!!!5
%html{lang: I18n.locale}
  = render 'layouts/head'
  %body
    = render 'layouts/top'
    = render 'where_and_who_am_i'

    .wrap
      %section{:role => 'content', :class => content_class}
        = render 'javascript_required'
        = render 'flash'

        %header.masterhead
          - if show_title?
            %h2#title= yield(:title)
          - if content_for? :masterhead_toolbar
            %nav{role: 'toolbar'}= yield(:masterhead_toolbar)

        = yield

        -if content_for? :contextual_help
          #contextual_help{:class => contextual_help_class}
            = yield(:contextual_help)

      = render 'layouts/footer'

  = render 'layouts/foot'
