!!!5
%html
  = render 'layouts/head'
  %body
    = render 'layouts/top'
    
    .wrap
      %section{:role => 'content'}
        = render 'flash'
        - if show_title?
          %header 
            %h2#title= yield(:title)

        = yield
      = render 'layouts/footer'
