<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= yield :title %> | shiftplan.com</title>

    <%= stylesheet_link_tag :shiftplan %>
	
	  <% javascript_tag do %>
	    window._auth_token_name = '<%= request_forgery_protection_token %>';
      window._auth_token = '<%= form_authenticity_token %>';
	  <% end %>

		<style type="text/css">
		  <%= render :partial => 'employees/employee.css', :collection => @employees %>
		  <%= render :partial => 'workplaces/workplace.css', :collection => @workplaces %>
		  <%= render :partial => 'qualifications/qualification.css', :collection => @qualifications %>
		</style>

    <%= yield(:head) %>
  </head>
  <body id="<%= [params[:controller], params[:action]].join('_') %>" class="<%= params[:controller] %>">
    <div id="header">
      <a href="/" id="home">
        <h1>shiftplan</h1>
      </a>
	    <ul id="navigation">
	      <li><%= link_to t(:overview, :scope => :navigation), root_path %></li>
	      <li><%= link_to t(:plans, :scope => :navigation), plans_path %></li>
	      <li><%= link_to t(:statuses, :scope => :navigation), statuses_path %></li>
	      <li><%#= link_to t(:master_data, :scope => :navigation), master_data_path %></li>
  	    <li id="login_status">
  	      <% if user_signed_in? -%>
    	      <%= t(:logged_in_as, :scope => :navigation, :user => current_user.email) %>
    	      (<%= link_to t(:logout, :scope => :navigation), destroy_user_session_path %>)
    	    <% end -%>
  	    </li>
	    </ul>
	    <div id="flash"></div>
    </div>
	  <div id="main">
	    <%= yield %>
		</div>

    <%= javascript_include_tag :shiftplan, :cache => false %>
  </body>
</html>
