<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= yield :title %> | shiftplan.com</title>
    <%= stylesheet_link_tag 'reset', 'jquery-ui/ui-lightness/jquery-ui', 'jquery-ui-colorpicker', 'application',
                            'shiftplan/employees', 'shiftplan/workplaces', :cache => true %>
    <!--[if IE]>
      <%= stylesheet_link_tag 'ie' %>
    <![endif]-->

		<style type="text/css">
		table {
			border-collapse: collapse;
		}
		#allocations_by_day {
			width: 100%;

		}
		#allocations_by_day tbody tr {
			height: 60px;
			vertical-align: top;
		}
		th, td {
			padding: 0;
			border: 1px solid black;
		}
		.requirement {
			position: absolute;
			height: 80px;
			width: 20px;
			background-color: yellow;
		}
		.slot {
			height: 15px;
		}
		</style>

    <%= javascript_include_tag 'util', 'jquery', 'jquery.form.js', 'date', 'jquery-ui.js', 'jquery-plugin-colorpicker', 'parseuri',
                               'shiftplan/dialogs', 'shiftplan/lists', 'shiftplan/plan', 'shiftplan/tabs', 'shiftplan/workplaces', :cache => true %>
    <%= yield(:head) %>
    <script type="text/javascript">
      $(document).ready(function() {
        $('input.colorpicker').colorPicker();
        <%= yield(:jquery) %>
      });
    </script>
  </head>
  <body>
		<div id="content">
	    <ul id="navigation">
	      <li><%= link_to t(:overview), root_path %></li>
	      <li><%= link_to t(:workplaces), workplaces_path %></li>
				<li><%= link_to t(:employees), employees_path %></li>
	    </ul>
		</div>
  </body>
</html>