!!!5
%html
  = render 'layouts/head'
  %body
    #page.container-fluid
      = render 'layouts/top'
      #content
        = render 'flash'
        - if show_title?
          .page-header
            %h1#title= yield(:title)

        = yield
      = render 'layouts/footer'
