!!!5
- controller.gon.quickie_completions = filter.quickies_for_completion
%html
  = render 'layouts/head'
  %body#ember
    = render 'layouts/top'

    %section.two-columns{:role => 'content'}
      = render 'flash'

      .primary
        %header.masthead.calendar-caption
          %h2#title= yield(:title)
          %nav{role: 'toolbar'}
            = render 'calendar_navigation', filter: filter

        = yield

      #sidebar.secondary
        = yield(:sidebar)
        = help_tag 'calendar.keyboard', id: 'help'

    = render 'layouts/footer'
