!!!5
- controller.gon.quickie_completions = filter.quickies_for_completion
%html{lang: I18n.locale}
  = render 'layouts/head'
  %body
    = render 'layouts/top'

    %section{:role => 'content', :class => content_class(2) + ' inverted has-calendar'}

      #sidebar.secondary
        = render 'sidebar'

      .primary
        = render 'where_and_who_am_i'
        = render 'javascript_required'
        = render 'flash'

        %header.masterhead
          %h2#title.calendar-caption= filter.plan.name
          %nav{role: 'toolbar'}
            = render 'schedulings/calendar_navigation', filter: filter

        = yield

      -# #contextual_help{:class => contextual_help_class(3)}
      -#   = yield(:contextual_help)

    = render 'layouts/footer'
