!!!5
- controller.gon.quickie_completions = filter.quickies_for_completion
%html
  = render 'layouts/head'
  %body
    #page.container-fluid
      = render 'layouts/top'
      #content
        = render 'flash'
        - if show_title?
          %h1#title= yield(:title)

        = render 'calendar_navigation', filter: filter
        = yield
        #ember Ember loading....
        = help_tag 'calendar.keyboard', id: 'help'
      = render 'layouts/footer'

  = render 'layouts/foot'
  = javascript_include_tag "templates/all"

