!!!5
- controller.gon.quickie_completions = filter.quickies_for_completion
%html
  = render 'layouts/head'
  %body
    = render 'layouts/top'

    %section.three-columns{:role => 'content'}
      = render 'flash'

      - if content_for? :sidebar
        #sidebar.secondary
          = yield(:sidebar)

      #sidebar.tertiary
        = help_tag 'calendar.keyboard', id: 'help'

      .primary
        %header.masthead.calendar-caption
          %h2#title= yield(:title)
          %nav{role: 'toolbar'}
            = render 'calendar_navigation', filter: filter

        = yield

    = render 'layouts/footer'
