!!!5
- controller.gon.quickie_completions = filter.quickies_for_completion
%html
  = render 'layouts/head'
  %body
    = render 'layouts/top'

    %section{:role => 'content', :class => content_class(2) + ' inverted has-calendar'}
      = render 'flash'

      #sidebar.secondary
        = collapsible(t('schedulings.information'), id: 'calendar-information', class: 'calendar-information') do
          .calendar-active-week= filter.formatted_range
          .calendar-description!= filter.plan.description
          .calendar-period-dates
            %div= filter.plan_period_start_date
            %div= filter.plan_period_end_date

        = collapsible( Milestone.model_name.human(count: 9001), id: 'milestones-toggle') do
          #milestones.milestones-list

        = yield(:sidebar)

        = collapsible(t('help.calendar.keyboard_heading'), id: 'keyboard-shortcuts', class: 'keyboard-shortcuts') do
          = help_tag 'calendar.keyboard'


      .primary
        %header.masterhead
          %h2#title.calendar-caption= filter.plan.name
          %nav{role: 'toolbar'}
            = render 'calendar_navigation', filter: filter

        = yield

      -# #contextual_help{:class => contextual_help_class(3)}
      -#   = yield(:contextual_help)

    = render 'layouts/footer'
