!!!5
- controller.gon.quickie_completions = filter.quickies_for_completion
%html
  = render 'layouts/head'
  %body
    = render 'layouts/top'

    %section{:role => 'content', :class => content_class(2)}
      = render 'flash'

      - if content_for? :sidebar
        #sidebar.secondary
          = yield(:sidebar)

      .primary
        %header.masterhead.calendar-caption
          %h2#title= yield(:title)
          %nav{role: 'toolbar'}
            = render 'calendar_navigation', filter: filter

        = yield

      #contextual_help{:class => contextual_help_class(2)}
        #keyboard-shortcuts.keyboard-shortcuts
          %h4= t('help.calendar.keyboard_heading')
          = help_tag 'calendar.keyboard'
        = yield(:contextual_help)

    = render 'layouts/footer'
