!!!5
- controller.gon.quickie_completions = filter.quickies_for_completion
%html
  = render 'layouts/head'
  %body#ember
    = render 'layouts/top'

    %section{:role => 'content'}
      = render 'flash'
      - if show_title?
        %h2#title= yield(:title)

      = render 'calendar_navigation', filter: filter
      = yield
      = help_tag 'calendar.keyboard', id: 'help'
    = render 'layouts/footer'
