!!!5
- controller.gon.quickie_completions = filter.quickies_for_completion
%html
  = render 'layouts/head'
  %body
    = render 'layouts/top'

    %section{:role => 'content', :class => content_class(3)}
      = render 'flash'

      #sidebar.secondary
        = collapsible(t('schedulings.information'), id: 'calendar-information', class: 'calendar-information') do
          .calendar-caption= filter.caption
          - if filter.plan.starts_at.present? || filter.plan.ends_at.present?
            .calendar-period-dates= filter.plan_period
          - if filter.plan.description.present?
            .calendar-description!= textilize filter.plan.description

        = yield(:sidebar)

      .primary
        %header.masterhead
          %nav{role: 'toolbar'}
            = render 'calendar_navigation', filter: filter

        = yield

      #contextual_help{:class => contextual_help_class(3)}
        = collapsible(t('help.calendar.keyboard_heading'), id: 'keyboard-shortcuts', class: 'keyboard-shortcuts') do
          = help_tag 'calendar.keyboard'

        = yield(:contextual_help)

    = render 'layouts/footer'
