!!!5
- controller.gon.quickie_completions = filter.quickies_for_completion
%html{lang: I18n.locale}
  = render 'layouts/head'
  %body
    = render 'layouts/top'
    = render 'where_and_who_am_i'

    %section#sidebar{:role => 'aside'}
      = render 'sidebar'

    %section{:role => 'content', :class => content_class(2) + ' has-calendar'}
      = render 'javascript_required'
      = render 'flash'

      %header.masterhead
        %h2#title.calendar-caption= filter.plan.name
        %nav{role: 'toolbar'}
          = render 'schedulings/calendar_navigation', filter: filter

      = yield

    = render 'layouts/footer'
