<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= yield :title %> | shiftplan.com</title>
    <%= javascript_include_tag :shiftplan %>
    <%= stylesheet_link_tag :shiftplan %>
	
	  <script type='text/javascript'>
    //<![CDATA[
      window._auth_token_name = '<%= request_forgery_protection_token %>';
      window._auth_token = '<%= form_authenticity_token %>';
    //]]>
    </script>

    <style type="text/css">
      body.sessions form {
        position: absolute;
        left: 50%;
        width: 400px;
        margin-left: -230px;
        border: 1px solid #ddd;
        padding: 30px;
        background-color: #f6f6f6;
      }

      body.sessions form label {
        display: block;
        margin-bottom: 0.5em;
      }

      body.sessions form input {
        margin-bottom: 1em;
        font-size: 1.4em;
      }

      body.sessions form input[type=submit] {
        margin-bottom: 0;
      }

      body.sessions form label[for=user_remember_me] {
        display: inline;
      }
    </style>

    <%= yield(:head) %>
  </head>
  <body class="sessions">
    <% unless flash.empty? -%>
    <ul id="flash">
      <% flash.each do |key, value| -%>
        <li class="<%= key %>"><%= value %></li>
      <% end -%>
    </ul>
    <% end -%>

    <%= yield %>
  </body>
</html>