- defined?(current) or raise(ArgumentError, "must provide :current (organization)")
- if user_signed_in?

  - if current_user.accounts.count > 1
    %li.dropdown
      - if current_account
        = link_to current_account.name, account_path(current_account),
          class: 'account', data: { toggle: 'dropdown' }
        %ul.account-dropdown
          - (current_user.accounts - [current_account]).each do |account|
            %li= link_to account.name, account_path(account)
      - else
        %a{href: '#', 'data-toggle' => 'dropdown'}= Account.model_name.human count: 9001
        %ul.account-dropdown
          - current_user.accounts.each do |account|
            %li= link_to account.name, account_path(account)
  - else
    - if account = current_user.accounts.first
      = li_link account.name, account_path(account), class: 'account'
