- title :add_account

.primary
  = simple_form_for @account, html: { class: 'form-horizontal' } do |f|
    .inputs.add-account
      = f.input :on_new_account, as: :hidden
      = f.input :user_id, as: :hidden
      = f.input :name, autofocus: true, required: true, hint: true
      = f.input :organization_name, required: true
      = f.input :first_name, required: true
      = f.input :last_name, required: true
    .actions
      = f.create_button

#instructions.instructions
  = tt '.instructions'
