- title Organization.model_name.human count: 9001

- if can? :manage, Organization.new(account: @account)
  - masterhead_toolbar do
    = link_to ta(:add_organization), new_account_organization_path(@account),
      class: 'button button-add', title: ta(:add_organization)
    - if can? :update, current_account
      = link_to ta(:edit_account), edit_account_path(@account),
        class: 'button button-edit', title: ta(:edit_account)

.row.two-columns.inverted
  .primary
    #organizations
      - organizations = current_user.organizations_for(@account).sort_by(&:name)
      - unless organizations.empty?
        = render 'organizations/table', organizations: organizations
      - else
        %p= t(:'.no_organizations')

  .secondary.instructions
    - if can? :create, Organization.new(account: @account)
      = tt '.planner_instructions'
    - else
      = tt '.instructions'
