- title Organization.model_name.human count: 9001

.primary
  %table#organizations
    %tbody
      - current_user.accounts.order("UPPER(name)").each do |acc|
        %tr
          %th.heading= acc.name
          %td
            .actions
              - can_org = can? :manage, Organization.new(account: acc)
              - can_acc = can? :update, acc
              - org_link = can_org ? link_to(ta(:add_organization), new_account_organization_path(acc),
                              class: 'button button-add', title: ta(:add_organization), data: { remote: true }) : ''
              - acc_link = can_acc ? link_to(ta(:edit_account), edit_account_path(acc),
                              class: 'button button-edit', title: ta(:edit_account)) : ''

              - if can_org && can_acc
                .button-group
                  = org_link
                  = acc_link
              - else
                = org_link
                = acc_link

        - organizations = current_user.organizations_for(acc).order("UPPER(name)")
        - unless organizations.empty?
          - organizations.each do |organization|
            %tr
              %th= link_to organization.name, nested_resources_for(organization)
              %td
                .actions
                  - if can? :edit, organization
                    = link_to :edit, [:edit] + nested_resources_for(organization),
                      class: 'button button-small button-edit', data: { remote: true }
        - else
          %p= t(:'.no_organizations')

#instructions.instructions
  - if can? :create, Organization.new(account: @account)
    = tt '.planner_instructions'
  - else
    = tt '.instructions'
