- title Organization.model_name.human count: 9001

- if can? :manage, Organization.new(account: @account)
  - masterhead_toolbar do
    = link_to ti(:add_organization), new_account_organization_path(@account),
      remote: true, class: 'button',
      data: { icon: i(:add) }, title: ta(:add_organization)
    - if can? :update, current_account
      = link_to ti(:edit_account), edit_account_path(@account),
        class: 'button', title: ta(:edit_account)

.row.two-columns.inverted
  .primary
    #organizations
      - organizations = current_user.organizations_for(@account)
      - unless organizations.empty?
        = render('organizations/table', records: organizations)
      - else
        %p= t(:'.no_organizations')

  .secondary.instructions
    - if can? :create, Organization.new(account: @account)
      = tt '.planner_instructions'
    - else
      = tt '.instructions'
